In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import os
from config import census_key
import json
import requests 
#from census import Census

In [5]:
# Import DA Job csv

#da = "Resources/DataAnalyst.csv"

da_job = pd.read_csv("Resources/DataAnalyst.csv")

# Drop unnecessary columns
da_job_data = da_job[["ID", "Job Title", "Salary Estimate", "Job Description", "Rating", "Company Name", "Location", "Headquarters", "Size", 
                                     "Founded", "Type of ownership", "Industry", "Sector", "Revenue", "Competitors", "Easy Apply"]]
# create df
da_job_data_df = pd.DataFrame(da_job_data)
da_job_data.head

<bound method NDFrame.head of         ID                                          Job Title  \
0        0  Data Analyst, Center on Immigration and Justic...
1        1                               Quality Data Analyst
2        2  Senior Data Analyst, Insights & Analytics Team...
3        3                                       Data Analyst
4        4                             Reporting Data Analyst
...    ...                                                ...
2248  2248  RQS - IHHA - 201900004460 -1q Data Security An...
2249  2249              Senior Data Analyst (Corporate Audit)
2250  2250  Technical Business Analyst (SQL, Data analytic...
2251  2251                Data Analyst 3, Customer Experience
2252  2252                        Senior Quality Data Analyst

                  Salary Estimate  \
0      $37K-$66K (Glassdoor est.)
1      $37K-$66K (Glassdoor est.)
2      $37K-$66K (Glassdoor est.)
3      $37K-$66K (Glassdoor est.)
4      $37K-$66K (Glassdoor est.)
...                           ...
2248  $78K-$104K (Glassdoor est.)
2249  $78K-$104K (Glassdoor est.)
2250  $78K-$104K (Glassdoor est.)
2251  $78K-$104K (Glassdoor est.)
2252  $78K-$104K (Glassdoor est.)

                                        Job Description  Rating  \
0     Are you eager to roll up your sleeves and harn...     3.2
1     Overview\n\nProvides analytical and technical ...     3.8
2     Weâ€™re looking for a Senior Data Analyst who ha...     3.4
3     Requisition NumberRR-0001939\nRemote:Yes\nWe c...     4.1
4     ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...     3.9
...                                                 ...     ...
2248  Maintains systems to protect data from unautho...     2.5
2249  Position:\nSenior Data Analyst (Corporate Audi...     2.9
2250  Title: Technical Business Analyst (SQL, Data a...    -1.0
2251  Summary\n\nResponsible for working cross-funct...     3.1
2252  You.\n\nYou bring your body, mind, heart and s...     3.4

                                 Company Name        Location  \
0              Vera Institute of Justice\n3.2    New York, NY
1     Visiting Nurse Service of New York\n3.8    New York, NY
2                            Squarespace\n3.4    New York, NY
3                               Celerity\n4.1    New York, NY
4                                FanDuel\n3.9    New York, NY
...                                       ...             ...
2248                       Avacend, Inc.\n2.5      Denver, CO
2249                   Arrow Electronics\n2.9  Centennial, CO
2250                                 Spiceorb      Denver, CO
2251         Contingent Network Services\n3.1  Centennial, CO
2252                          SCL Health\n3.4  Broomfield, CO

          Headquarters                    Size  Founded  \
0         New York, NY    201 to 500 employees     1961
1         New York, NY        10000+ employees     1893
2         New York, NY  1001 to 5000 employees     2003
3           McLean, VA    201 to 500 employees     2002
4         New York, NY   501 to 1000 employees     2009
...                ...                     ...      ...
2248    Alpharetta, GA     51 to 200 employees       -1
2249    Centennial, CO        10000+ employees     1935
2250                -1                      -1       -1
2251  West Chester, OH    201 to 500 employees     1984
2252    Broomfield, CO        10000+ employees     1864

                   Type of ownership                                 Industry  \
0             Nonprofit Organization                        Social Assistance
1             Nonprofit Organization         Health Care Services & Hospitals
2                  Company - Private                                 Internet
3     Subsidiary or Business Segment                              IT Services
4                  Company - Private                      Sports & Recreation
...                              ...                                      ...
2248               Company - Private                   Staffing & Outsourcing
2249                Company - Public                                Wholesale
2250                              -1                                       -1
2251               Company - Private  Enterprise Software & Network Solutions
2252          Nonprofit Organization         Health Care Services & Hospitals

                                Sector                     Revenue  \
0                           Non-Profit  $100 to $500 million (USD)
1                          Health Care      $2 to $5 billion (USD)
2               Information Technology    Unknown / Non-Applicable
3               Information Technology   $50 to $100 million (USD)
4     Arts, Entertainment & Recreation  $100 to $500 million (USD)
...                                ...                         ...
2248                 Business Services    Unknown / Non-Applicable
2249                 Business Services          $10+ billion (USD)
2250                                -1                          -1
2251            Information Technology    $25 to $50 million (USD)
2252                       Health Care      $2 to $5 billion (USD)

                                            Competitors Easy Apply
0                                                    -1       TRUE
1                                                    -1         -1
2                                               GoDaddy         -1
3                                                    -1         -1
4                                            DraftKings       TRUE
...                                                 ...        ...
2248                                                 -1         -1
2249                     Avnet, Ingram Micro, Tech Data         -1
2250                                                 -1         -1
2251                                                 -1         -1
2252  Centura Health, HealthONE, Denver Health and H...         -1

[2253 rows x 16 columns]>

In [9]:
# Census API - currently at state level, need to get to City level

# State
url = "https://api.census.gov/data/2010/dec/sf1?get=P001001,NAME&for=state:*&key="

# Build query URL
query_url = url + census_key

census_response = requests.get(query_url)
census_json = census_response.json()
census_state_pd = pd.DataFrame(census_json)

# Drop column labels
census_state_df = census_state_pd.drop([census_state_pd.index[0]])

# drop unwanted column
census_state_df = census_state_df.drop(census_state_df.columns[[2]], axis=1)

# rename columns
census_state_df.columns = ['Pop', 'State']

# rearrange columns
census_state_df = census_state_df[['State', 'Pop']]

#convert population to int
census_state_df['Pop'] = census_state_df['Pop'].astype(int)

census_state_df

                   State       Pop
1                Alabama   4779736
2                 Alaska    710231
3                Arizona   6392017
4               Arkansas   2915918
5             California  37253956
6              Louisiana   4533372
7               Kentucky   4339367
8               Colorado   5029196
9            Connecticut   3574097
10              Delaware    897934
11  District of Columbia    601723
12               Florida  18801310
13               Georgia   9687653
14                Hawaii   1360301
15                 Idaho   1567582
16              Illinois  12830632
17               Indiana   6483802
18                  Iowa   3046355
19                Kansas   2853118
20                 Maine   1328361
21              Maryland   5773552
22         Massachusetts   6547629
23              Michigan   9883640
24             Minnesota   5303925
25           Mississippi   2967297
26              Missouri   5988927
27               Montana    989415
28              Nebraska   1826341
29                Nevada   2700551
30         New Hampshire   1316470
31            New Jersey   8791894
32            New Mexico   2059179
33              New York  19378102
34        North Carolina   9535483
35          North Dakota    672591
36                  Ohio  11536504
37              Oklahoma   3751351
38                Oregon   3831074
39          Pennsylvania  12702379
40          Rhode Island   1052567
41        South Carolina   4625364
42          South Dakota    814180
43             Tennessee   6346105
44                 Texas  25145561
45                  Utah   2763885
46               Vermont    625741
47              Virginia   8001024
48            Washington   6724540
49         West Virginia   1852994
50             Wisconsin   5686986
51               Wyoming    563626
52           Puerto Rico   3725789

In [ ]:
# OpenWeather API

In [ ]:
# Zillow Web Scrape - Attempt rentals and purchases

In [ ]:
# Create Mongo DB