In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import json
from pandas.io.json import json_normalize
import pandas as pd
import numpy as np
import time
from scipy.stats import linregress
from datetime import datetime
import re
import gmaps
import csv
import os
import configparser
import requests
import sys

In [2]:
#API Key
api_key = "3a9fa2731241e7ab03bbf05564b12ba4"

##STATES AND CITY LIST

#state_names= ["NY", "IL", "CA", "TX", "NC", "PA", "CO", "AZ", "NJ", "WA", "OH", "UT", "FL", "VA", "IN", "DE"]

#city_names=["New York", "Chicago", "San Francisco", "Austin", "Los Angeles", "Charlotte", "Houston", "Dallas", "San Diego", "Philadelphia", "Denver", "San Antonio", "San Jose", "Phoenix", "Jersey City",
#"Tempe", "Seattle", "Columbus", "Irving", "Plano", "Salt Lake City", "Santa Clara", "El Segundo", "Jacksonville", "Norfolk", "San Mateo", "Burbank", "Indianapolis", "Fort Worth", "Sunnyvale", "Mountain View",
#"Scottsdale", "Palo Alto","Brooklyn","Cupertino", "Hampton", "Long Beach", "Redwood City", "Menlo Park", "Oakland", "Redmond", "Wilmington", "Richardson","Centennial","Downers Grove", "Foster City", "Lake Success",
#"Santa Monica", "Arlington"]

#url= "https://api.openweathermap.org/data/2.5/weather?q=Austin,us&appid=3a9fa2731241e7ab03bbf05564b12ba4&units=metric"

###############################################
#df = pd.read_json('C:\Users\sakon\Desktop\MASTER CSU\CWRU_BOOTCAMP\1.Hmw\12.Project2\Project2Group2\Json_to_csv.gz')
#df = pd.read_json (r'C:\Users\Ron\Desktop\Test\Product_List.json')
#export_csv = df.to_csv (r'C:\Users\Ron\Desktop\Test\New_Products.csv', index = None, header=True)

In [3]:
#URL

url="https://api.openweathermap.org/data/2.5/group?id=5128581,4887398,5391959,4671654,5368361,4460243,4699066,4684888,4726311,5131095,5186794,4726206,5392171,5308655,5099836,5317058,5809844,4509177,4700168,4719457&appid=3a9fa2731241e7ab03bbf05564b12ba4&units=metric"

In [4]:
# Other way to load data is:
#data = json.loads(response.text)
#print(data)

# Using this method to load
response = requests.get(url)
response.json()

{'cnt': 20,
 'list': [{'coord': {'lon': -74.01, 'lat': 40.71},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597053719,
    'sunset': 1597104047},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'main': {'temp': 29.26,
    'feels_like': 32.8,
    'temp_min': 27.78,
    'temp_max': 31.11,
    'pressure': 1015,
    'humidity': 70},
   'visibility': 10000,
   'wind': {'speed': 2.6, 'deg': 220},
   'clouds': {'all': 40},
   'dt': 1597108523,
   'id': 5128581,
   'name': 'New York City'},
  {'coord': {'lon': -87.65, 'lat': 41.85},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597056852,
    'sunset': 1597107461},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'main': {'temp': 22.59,
    'feels_like': 22.05,
    'temp_min': 21.67,
    'temp_max': 23.33,
    'pressure': 1010,
    'humidity': 78},
   'visibility': 10000,
   'wind': {'speed': 5.1, 'deg': 210},
   'clouds': {'all': 75},
   'dt': 1597108508,
   'id': 4887398,
   'name': 'Chicago'},
  {'coord': {'lon': -122.42, 'lat': 37.77},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065689,
    'sunset': 1597115311},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 17.06,
    'feels_like': 11.58,
    'temp_min': 15,
    'temp_max': 20,
    'pressure': 1013,
    'humidity': 72},
   'visibility': 10000,
   'wind': {'speed': 8.7, 'deg': 310},
   'clouds': {'all': 20},
   'dt': 1597108533,
   'id': 5391959,
   'name': 'San Francisco'},
  {'coord': {'lon': -97.74, 'lat': 30.27},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060522,
    'sunset': 1597108633},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 33.71,
    'feels_like': 33.2,
    'temp_min': 32.78,
    'temp_max': 35,
    'pressure': 1014,
    'humidity': 39},
   'visibility': 10000,
   'wind': {'speed': 4.6, 'deg': 160},
   'clouds': {'all': 20},
   'dt': 1597108500,
   'id': 4671654,
   'name': 'Austin'},
  {'coord': {'lon': -118.24, 'lat': 34.05},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065080,
    'sunset': 1597113914},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 23.86,
    'feels_like': 23.49,
    'temp_min': 19,
    'temp_max': 28.33,
    'pressure': 1012,
    'humidity': 56},
   'visibility': 10000,
   'wind': {'speed': 2.6, 'deg': 0},
   'clouds': {'all': 1},
   'dt': 1597108533,
   'id': 5368361,
   'name': 'Los Angeles'},
  {'coord': {'lon': -80.84, 'lat': 35.23},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597055979,
    'sunset': 1597105065},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'main': {'temp': 24.83,
    'feels_like': 27.06,
    'temp_min': 23.89,
    'temp_max': 25.56,
    'pressure': 1016,
    'humidity': 78},
   'visibility': 10000,
   'wind': {'speed': 2.6, 'deg': 210},
   'clouds': {'all': 40},
   'dt': 1597108495,
   'id': 4460243,
   'name': 'Charlotte'},
  {'coord': {'lon': -95.36, 'lat': 29.76},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597059998,
    'sunset': 1597108015},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'main': {'temp': 30.86,
    'feels_like': 31.38,
    'temp_min': 30,
    'temp_max': 32,
    'pressure': 1015,
    'humidity': 70},
   'visibility': 10000,
   'wind': {'speed': 8.2, 'deg': 170},
   'clouds': {'all': 1},
   'dt': 1597108501,
   'id': 4699066,
   'name': 'Houston'},
  {'coord': {'lon': -96.81, 'lat': 32.78},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060061,
    'sunset': 1597108648},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 34.15,
    'feels_like': 34.33,
    'temp_min': 33.33,
    'temp_max': 34.44,
    'pressure': 1012,
    'humidity': 38},
   'visibility': 10000,
   'wind': {'speed': 3.6, 'deg': 170},
   'clouds': {'all': 0},
   'dt': 1597108501,
   'id': 4684888,
   'name': 'Dallas'},
  {'coord': {'lon': -98.24, 'lat': 27.76},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060868,
    'sunset': 1597108527},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 32.01,
    'feels_like': 31.92,
    'temp_min': 31,
    'temp_max': 33,
    'pressure': 1014,
    'humidity': 55},
   'visibility': 10000,
   'wind': {'speed': 6.7, 'deg': 150},
   'clouds': {'all': 1},
   'dt': 1597108507,
   'id': 4726311,
   'name': 'San Diego'},
  {'coord': {'lon': -75.71, 'lat': 44.15},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597053678,
    'sunset': 1597104904},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'main': {'temp': 24.79,
    'feels_like': 25.72,
    'temp_min': 23.33,
    'temp_max': 27,
    'pressure': 1013,
    'humidity': 69},
   'visibility': 10000,
   'wind': {'speed': 3.1, 'deg': 190},
   'clouds': {'all': 1},
   'dt': 1597108523,
   'id': 5131095,
   'name': 'Philadelphia'},
  {'coord': {'lon': -76.14, 'lat': 40.23},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597054289,
    'sunset': 1597104499},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'main': {'temp': 26.53,
    'feels_like': 29.49,
    'temp_min': 25.56,
    'temp_max': 27.22,
    'pressure': 1014,
    'humidity': 72},
   'visibility': 10000,
   'wind': {'speed': 1.79, 'deg': 202},
   'clouds': {'all': 0},
   'dt': 1597108524,
   'id': 5186794,
   'name': 'Denver'},
  {'coord': {'lon': -98.49, 'lat': 29.42},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060780,
    'sunset': 1597108735},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 34.51,
    'feels_like': 32.88,
    'temp_min': 33.33,
    'temp_max': 36,
    'pressure': 1013,
    'humidity': 47},
   'visibility': 10000,
   'wind': {'speed': 8.7, 'deg': 140},
   'clouds': {'all': 20},
   'dt': 1597108507,
   'id': 4726206,
   'name': 'San Antonio'},
  {'coord': {'lon': -121.89, 'lat': 37.34},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065610,
    'sunset': 1597115136},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 27.19,
    'feels_like': 24.07,
    'temp_min': 25.56,
    'temp_max': 28.89,
    'pressure': 1011,
    'humidity': 44},
   'visibility': 10000,
   'wind': {'speed': 6.2, 'deg': 320},
   'clouds': {'all': 20},
   'dt': 1597108533,
   'id': 5392171,
   'name': 'San Jose'},
  {'coord': {'lon': -112.07, 'lat': 33.45},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597063659,
    'sunset': 1597112374},
   'weather': [{'id': 711,
     'main': 'Smoke',
     'description': 'smoke',
     'icon': '50d'}],
   'main': {'temp': 42.53,
    'feels_like': 36.41,
    'temp_min': 41.11,
    'temp_max': 43.89,
    'pressure': 1007,
    'humidity': 8},
   'visibility': 10000,
   'wind': {'speed': 6.2, 'deg': 300},
   'clouds': {'all': 20},
   'dt': 1597108529,
   'id': 5308655,
   'name': 'Phoenix'},
  {'coord': {'lon': -74.08, 'lat': 40.73},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597053733,
    'sunset': 1597104066},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'main': {'temp': 29.28,
    'feels_like': 32.83,
    'temp_min': 26.11,
    'temp_max': 31.11,
    'pressure': 1015,
    'humidity': 70},
   'visibility': 10000,
   'wind': {'speed': 2.6, 'deg': 220},
   'clouds': {'all': 40},
   'dt': 1597108522,
   'id': 5099836,
   'name': 'Jersey City'},
  {'coord': {'lon': -111.91, 'lat': 33.41},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597063624,
    'sunset': 1597112332},
   'weather': [{'id': 711,
     'main': 'Smoke',
     'description': 'smoke',
     'icon': '50d'}],
   'main': {'temp': 42.28,
    'feels_like': 36.13,
    'temp_min': 41.11,
    'temp_max': 43.33,
    'pressure': 1007,
    'humidity': 8},
   'visibility': 10000,
   'wind': {'speed': 6.2, 'deg': 300},
   'clouds': {'all': 20},
   'dt': 1597108529,
   'id': 5317058,
   'name': 'Tempe'},
  {'coord': {'lon': -122.33, 'lat': 47.61},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597064362,
    'sunset': 1597116595},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 24.94,
    'feels_like': 22.12,
    'temp_min': 22.78,
    'temp_max': 27.22,
    'pressure': 1016,
    'humidity': 39},
   'visibility': 10000,
   'wind': {'speed': 4.1, 'deg': 310},
   'clouds': {'all': 1},
   'dt': 1597108540,
   'id': 5809844,
   'name': 'Seattle'},
  {'coord': {'lon': -83, 'lat': 39.96},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597055969,
    'sunset': 1597106112},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02n'}],
   'main': {'temp': 27.12,
    'feels_like': 27.93,
    'temp_min': 25.56,
    'temp_max': 29,
    'pressure': 1014,
    'humidity': 65},
   'visibility': 10000,
   'wind': {'speed': 4.1, 'deg': 220},
   'clouds': {'all': 20},
   'dt': 1597108496,
   'id': 4509177,
   'name': 'Columbus'},
  {'coord': {'lon': -96.95, 'lat': 32.81},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060091,
    'sunset': 1597108684},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 34.54,
    'feels_like': 33.59,
    'temp_min': 34,
    'temp_max': 35,
    'pressure': 1012,
    'humidity': 41},
   'visibility': 10000,
   'wind': {'speed': 6.2, 'deg': 170},
   'clouds': {'all': 1},
   'dt': 1597108501,
   'id': 4700168,
   'name': 'Irving'},
  {'coord': {'lon': -96.7, 'lat': 33.02},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060011,
    'sunset': 1597108645},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 34.3,
    'feels_like': 32.01,
    'temp_min': 33.33,
    'temp_max': 35,
    'pressure': 1013,
    'humidity': 34},
   'visibility': 10000,
   'wind': {'speed': 6.2, 'deg': 180},
   'clouds': {'all': 5},
   'dt': 1597108501,
   'id': 4719457,
   'name': 'Plano'}]}

In [5]:
# Other way to do it
#dataframe = pd.DataFrame.from_dict(response.json, orient="index")
#print(dataframe)

response.json().keys()

dict_keys(['cnt', 'list'])

In [6]:
#JSON response

response.json()['list']

[{'coord': {'lon': -74.01, 'lat': 40.71},
  'sys': {'country': 'US',
   'timezone': -14400,
   'sunrise': 1597053719,
   'sunset': 1597104047},
  'weather': [{'id': 802,
    'main': 'Clouds',
    'description': 'scattered clouds',
    'icon': '03n'}],
  'main': {'temp': 29.26,
   'feels_like': 32.8,
   'temp_min': 27.78,
   'temp_max': 31.11,
   'pressure': 1015,
   'humidity': 70},
  'visibility': 10000,
  'wind': {'speed': 2.6, 'deg': 220},
  'clouds': {'all': 40},
  'dt': 1597108523,
  'id': 5128581,
  'name': 'New York City'},
 {'coord': {'lon': -87.65, 'lat': 41.85},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597056852,
   'sunset': 1597107461},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04n'}],
  'main': {'temp': 22.59,
   'feels_like': 22.05,
   'temp_min': 21.67,
   'temp_max': 23.33,
   'pressure': 1010,
   'humidity': 78},
  'visibility': 10000,
  'wind': {'speed': 5.1, 'deg': 210},
  'clouds': {'all': 75},
  'dt': 1597108508,
  'id': 4887398,
  'name': 'Chicago'},
 {'coord': {'lon': -122.42, 'lat': 37.77},
  'sys': {'country': 'US',
   'timezone': -25200,
   'sunrise': 1597065689,
   'sunset': 1597115311},
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02d'}],
  'main': {'temp': 17.06,
   'feels_like': 11.58,
   'temp_min': 15,
   'temp_max': 20,
   'pressure': 1013,
   'humidity': 72},
  'visibility': 10000,
  'wind': {'speed': 8.7, 'deg': 310},
  'clouds': {'all': 20},
  'dt': 1597108533,
  'id': 5391959,
  'name': 'San Francisco'},
 {'coord': {'lon': -97.74, 'lat': 30.27},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597060522,
   'sunset': 1597108633},
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02d'}],
  'main': {'temp': 33.71,
   'feels_like': 33.2,
   'temp_min': 32.78,
   'temp_max': 35,
   'pressure': 1014,
   'humidity': 39},
  'visibility': 10000,
  'wind': {'speed': 4.6, 'deg': 160},
  'clouds': {'all': 20},
  'dt': 1597108500,
  'id': 4671654,
  'name': 'Austin'},
 {'coord': {'lon': -118.24, 'lat': 34.05},
  'sys': {'country': 'US',
   'timezone': -25200,
   'sunrise': 1597065080,
   'sunset': 1597113914},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'main': {'temp': 23.86,
   'feels_like': 23.49,
   'temp_min': 19,
   'temp_max': 28.33,
   'pressure': 1012,
   'humidity': 56},
  'visibility': 10000,
  'wind': {'speed': 2.6, 'deg': 0},
  'clouds': {'all': 1},
  'dt': 1597108533,
  'id': 5368361,
  'name': 'Los Angeles'},
 {'coord': {'lon': -80.84, 'lat': 35.23},
  'sys': {'country': 'US',
   'timezone': -14400,
   'sunrise': 1597055979,
   'sunset': 1597105065},
  'weather': [{'id': 802,
    'main': 'Clouds',
    'description': 'scattered clouds',
    'icon': '03n'}],
  'main': {'temp': 24.83,
   'feels_like': 27.06,
   'temp_min': 23.89,
   'temp_max': 25.56,
   'pressure': 1016,
   'humidity': 78},
  'visibility': 10000,
  'wind': {'speed': 2.6, 'deg': 210},
  'clouds': {'all': 40},
  'dt': 1597108495,
  'id': 4460243,
  'name': 'Charlotte'},
 {'coord': {'lon': -95.36, 'lat': 29.76},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597059998,
   'sunset': 1597108015},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01n'}],
  'main': {'temp': 30.86,
   'feels_like': 31.38,
   'temp_min': 30,
   'temp_max': 32,
   'pressure': 1015,
   'humidity': 70},
  'visibility': 10000,
  'wind': {'speed': 8.2, 'deg': 170},
  'clouds': {'all': 1},
  'dt': 1597108501,
  'id': 4699066,
  'name': 'Houston'},
 {'coord': {'lon': -96.81, 'lat': 32.78},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597060061,
   'sunset': 1597108648},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'main': {'temp': 34.15,
   'feels_like': 34.33,
   'temp_min': 33.33,
   'temp_max': 34.44,
   'pressure': 1012,
   'humidity': 38},
  'visibility': 10000,
  'wind': {'speed': 3.6, 'deg': 170},
  'clouds': {'all': 0},
  'dt': 1597108501,
  'id': 4684888,
  'name': 'Dallas'},
 {'coord': {'lon': -98.24, 'lat': 27.76},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597060868,
   'sunset': 1597108527},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'main': {'temp': 32.01,
   'feels_like': 31.92,
   'temp_min': 31,
   'temp_max': 33,
   'pressure': 1014,
   'humidity': 55},
  'visibility': 10000,
  'wind': {'speed': 6.7, 'deg': 150},
  'clouds': {'all': 1},
  'dt': 1597108507,
  'id': 4726311,
  'name': 'San Diego'},
 {'coord': {'lon': -75.71, 'lat': 44.15},
  'sys': {'country': 'US',
   'timezone': -14400,
   'sunrise': 1597053678,
   'sunset': 1597104904},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01n'}],
  'main': {'temp': 24.79,
   'feels_like': 25.72,
   'temp_min': 23.33,
   'temp_max': 27,
   'pressure': 1013,
   'humidity': 69},
  'visibility': 10000,
  'wind': {'speed': 3.1, 'deg': 190},
  'clouds': {'all': 1},
  'dt': 1597108523,
  'id': 5131095,
  'name': 'Philadelphia'},
 {'coord': {'lon': -76.14, 'lat': 40.23},
  'sys': {'country': 'US',
   'timezone': -14400,
   'sunrise': 1597054289,
   'sunset': 1597104499},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01n'}],
  'main': {'temp': 26.53,
   'feels_like': 29.49,
   'temp_min': 25.56,
   'temp_max': 27.22,
   'pressure': 1014,
   'humidity': 72},
  'visibility': 10000,
  'wind': {'speed': 1.79, 'deg': 202},
  'clouds': {'all': 0},
  'dt': 1597108524,
  'id': 5186794,
  'name': 'Denver'},
 {'coord': {'lon': -98.49, 'lat': 29.42},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597060780,
   'sunset': 1597108735},
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02d'}],
  'main': {'temp': 34.51,
   'feels_like': 32.88,
   'temp_min': 33.33,
   'temp_max': 36,
   'pressure': 1013,
   'humidity': 47},
  'visibility': 10000,
  'wind': {'speed': 8.7, 'deg': 140},
  'clouds': {'all': 20},
  'dt': 1597108507,
  'id': 4726206,
  'name': 'San Antonio'},
 {'coord': {'lon': -121.89, 'lat': 37.34},
  'sys': {'country': 'US',
   'timezone': -25200,
   'sunrise': 1597065610,
   'sunset': 1597115136},
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02d'}],
  'main': {'temp': 27.19,
   'feels_like': 24.07,
   'temp_min': 25.56,
   'temp_max': 28.89,
   'pressure': 1011,
   'humidity': 44},
  'visibility': 10000,
  'wind': {'speed': 6.2, 'deg': 320},
  'clouds': {'all': 20},
  'dt': 1597108533,
  'id': 5392171,
  'name': 'San Jose'},
 {'coord': {'lon': -112.07, 'lat': 33.45},
  'sys': {'country': 'US',
   'timezone': -25200,
   'sunrise': 1597063659,
   'sunset': 1597112374},
  'weather': [{'id': 711,
    'main': 'Smoke',
    'description': 'smoke',
    'icon': '50d'}],
  'main': {'temp': 42.53,
   'feels_like': 36.41,
   'temp_min': 41.11,
   'temp_max': 43.89,
   'pressure': 1007,
   'humidity': 8},
  'visibility': 10000,
  'wind': {'speed': 6.2, 'deg': 300},
  'clouds': {'all': 20},
  'dt': 1597108529,
  'id': 5308655,
  'name': 'Phoenix'},
 {'coord': {'lon': -74.08, 'lat': 40.73},
  'sys': {'country': 'US',
   'timezone': -14400,
   'sunrise': 1597053733,
   'sunset': 1597104066},
  'weather': [{'id': 802,
    'main': 'Clouds',
    'description': 'scattered clouds',
    'icon': '03n'}],
  'main': {'temp': 29.28,
   'feels_like': 32.83,
   'temp_min': 26.11,
   'temp_max': 31.11,
   'pressure': 1015,
   'humidity': 70},
  'visibility': 10000,
  'wind': {'speed': 2.6, 'deg': 220},
  'clouds': {'all': 40},
  'dt': 1597108522,
  'id': 5099836,
  'name': 'Jersey City'},
 {'coord': {'lon': -111.91, 'lat': 33.41},
  'sys': {'country': 'US',
   'timezone': -25200,
   'sunrise': 1597063624,
   'sunset': 1597112332},
  'weather': [{'id': 711,
    'main': 'Smoke',
    'description': 'smoke',
    'icon': '50d'}],
  'main': {'temp': 42.28,
   'feels_like': 36.13,
   'temp_min': 41.11,
   'temp_max': 43.33,
   'pressure': 1007,
   'humidity': 8},
  'visibility': 10000,
  'wind': {'speed': 6.2, 'deg': 300},
  'clouds': {'all': 20},
  'dt': 1597108529,
  'id': 5317058,
  'name': 'Tempe'},
 {'coord': {'lon': -122.33, 'lat': 47.61},
  'sys': {'country': 'US',
   'timezone': -25200,
   'sunrise': 1597064362,
   'sunset': 1597116595},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'main': {'temp': 24.94,
   'feels_like': 22.12,
   'temp_min': 22.78,
   'temp_max': 27.22,
   'pressure': 1016,
   'humidity': 39},
  'visibility': 10000,
  'wind': {'speed': 4.1, 'deg': 310},
  'clouds': {'all': 1},
  'dt': 1597108540,
  'id': 5809844,
  'name': 'Seattle'},
 {'coord': {'lon': -83, 'lat': 39.96},
  'sys': {'country': 'US',
   'timezone': -14400,
   'sunrise': 1597055969,
   'sunset': 1597106112},
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02n'}],
  'main': {'temp': 27.12,
   'feels_like': 27.93,
   'temp_min': 25.56,
   'temp_max': 29,
   'pressure': 1014,
   'humidity': 65},
  'visibility': 10000,
  'wind': {'speed': 4.1, 'deg': 220},
  'clouds': {'all': 20},
  'dt': 1597108496,
  'id': 4509177,
  'name': 'Columbus'},
 {'coord': {'lon': -96.95, 'lat': 32.81},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597060091,
   'sunset': 1597108684},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'main': {'temp': 34.54,
   'feels_like': 33.59,
   'temp_min': 34,
   'temp_max': 35,
   'pressure': 1012,
   'humidity': 41},
  'visibility': 10000,
  'wind': {'speed': 6.2, 'deg': 170},
  'clouds': {'all': 1},
  'dt': 1597108501,
  'id': 4700168,
  'name': 'Irving'},
 {'coord': {'lon': -96.7, 'lat': 33.02},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597060011,
   'sunset': 1597108645},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'main': {'temp': 34.3,
   'feels_like': 32.01,
   'temp_min': 33.33,
   'temp_max': 35,
   'pressure': 1013,
   'humidity': 34},
  'visibility': 10000,
  'wind': {'speed': 6.2, 'deg': 180},
  'clouds': {'all': 5},
  'dt': 1597108501,
  'id': 4719457,
  'name': 'Plano'}]

In [7]:
weather = response.json()['list']
df1 = json_normalize(weather)
df1

C:\Users\sakon\anaconda3.1\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

,weather,visibility,dt,id,name,coord.lon,coord.lat,sys.country,sys.timezone,sys.sunrise,sys.sunset,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all
0,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597108523,5128581,New York City,-74.01,40.71,US,-14400,1597053719,1597104047,29.26,32.80,27.78,31.11,1015,70,2.60,220,40
1,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,1597108508,4887398,Chicago,-87.65,41.85,US,-18000,1597056852,1597107461,22.59,22.05,21.67,23.33,1010,78,5.10,210,75
2,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108533,5391959,San Francisco,-122.42,37.77,US,-25200,1597065689,1597115311,17.06,11.58,15.00,20.00,1013,72,8.70,310,20
3,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108500,4671654,Austin,-97.74,30.27,US,-18000,1597060522,1597108633,33.71,33.20,32.78,35.00,1014,39,4.60,160,20
4,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5368361,Los Angeles,-118.24,34.05,US,-25200,1597065080,1597113914,23.86,23.49,19.00,28.33,1012,56,2.60,0,1
5,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597108495,4460243,Charlotte,-80.84,35.23,US,-14400,1597055979,1597105065,24.83,27.06,23.89,25.56,1016,78,2.60,210,40
6,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108501,4699066,Houston,-95.36,29.76,US,-18000,1597059998,1597108015,30.86,31.38,30.00,32.00,1015,70,8.20,170,1
7,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108501,4684888,Dallas,-96.81,32.78,US,-18000,1597060061,1597108648,34.15,34.33,33.33,34.44,1012,38,3.60,170,0
8,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108507,4726311,San Diego,-98.24,27.76,US,-18000,1597060868,1597108527,32.01,31.92,31.00,33.00,1014,55,6.70,150,1
9,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108523,5131095,Philadelphia,-75.71,44.15,US,-14400,1597053678,1597104904,24.79,25.72,23.33,27.00,1013,69,3.10,190,1
10,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108524,5186794,Denver,-76.14,40.23,US,-14400,1597054289,1597104499,26.53,29.49,25.56,27.22,1014,72,1.79,202,0
11,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108507,4726206,San Antonio,-98.49,29.42,US,-18000,1597060780,1597108735,34.51,32.88,33.33,36.00,1013,47,8.70,140,20
12,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108533,5392171,San Jose,-121.89,37.34,US,-25200,1597065610,1597115136,27.19,24.07,25.56,28.89,1011,44,6.20,320,20
13,"[{'id': 711, 'main': 'Smoke', 'description': '...",10000,1597108529,5308655,Phoenix,-112.07,33.45,US,-25200,1597063659,1597112374,42.53,36.41,41.11,43.89,1007,8,6.20,300,20
14,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597108522,5099836,Jersey City,-74.08,40.73,US,-14400,1597053733,1597104066,29.28,32.83,26.11,31.11,1015,70,2.60,220,40
15,"[{'id': 711, 'main': 'Smoke', 'description': '...",10000,1597108529,5317058,Tempe,-111.91,33.41,US,-25200,1597063624,1597112332,42.28,36.13,41.11,43.33,1007,8,6.20,300,20
16,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108540,5809844,Seattle,-122.33,47.61,US,-25200,1597064362,1597116595,24.94,22.12,22.78,27.22,1016,39,4.10,310,1
17,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108496,4509177,Columbus,-83.00,39.96,US,-14400,1597055969,1597106112,27.12,27.93,25.56,29.00,1014,65,4.10,220,20
18,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108501,4700168,Irving,-96.95,32.81,US,-18000,1597060091,1597108684,34.54,33.59,34.00,35.00,1012,41,6.20,170,1
19,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108501,4719457,Plano,-96.70,33.02,US,-18000,1597060011,1597108645,34.30,32.01,33.33,35.00,1013,34,6.20,180,5

In [8]:
# DataFrame to CSV

df1.to_csv (r'C:\Users\sakon\Desktop\MASTER CSU\CWRU_BOOTCAMP\1.Hmw\12.Project2\Project2Group2\export_dataframe.csv', index = False, header=True)

# link    https://www.datacourses.com/?s=DataFrame+to+csv  or  https://datatofish.com/export-dataframe-to-csv/

In [9]:
print(df1)

                                              weather  visibility          dt  \
0   [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597108523
1   [{'id': 803, 'main': 'Clouds', 'description': ...       10000  1597108508
2   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108533
3   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108500
4   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108533
5   [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597108495
6   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108501
7   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108501
8   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108507
9   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108523
10  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108524
11  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108507
12  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108533
13  [{'id': 711, 'main': 'Smoke', 'description': '...       10000  1597108529
14  [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597108522
15  [{'id': 711, 'main': 'Smoke', 'description': '...       10000  1597108529
16  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108540
17  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108496
18  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108501
19  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108501

         id           name  coord.lon  coord.lat sys.country  sys.timezone  \
0   5128581  New York City     -74.01      40.71          US        -14400
1   4887398        Chicago     -87.65      41.85          US        -18000
2   5391959  San Francisco    -122.42      37.77          US        -25200
3   4671654         Austin     -97.74      30.27          US        -18000
4   5368361    Los Angeles    -118.24      34.05          US        -25200
5   4460243      Charlotte     -80.84      35.23          US        -14400
6   4699066        Houston     -95.36      29.76          US        -18000
7   4684888         Dallas     -96.81      32.78          US        -18000
8   4726311      San Diego     -98.24      27.76          US        -18000
9   5131095   Philadelphia     -75.71      44.15          US        -14400
10  5186794         Denver     -76.14      40.23          US        -14400
11  4726206    San Antonio     -98.49      29.42          US        -18000
12  5392171       San Jose    -121.89      37.34          US        -25200
13  5308655        Phoenix    -112.07      33.45          US        -25200
14  5099836    Jersey City     -74.08      40.73          US        -14400
15  5317058          Tempe    -111.91      33.41          US        -25200
16  5809844        Seattle    -122.33      47.61          US        -25200
17  4509177       Columbus     -83.00      39.96          US        -14400
18  4700168         Irving     -96.95      32.81          US        -18000
19  4719457          Plano     -96.70      33.02          US        -18000

    sys.sunrise  sys.sunset  main.temp  main.feels_like  main.temp_min  \
0    1597053719  1597104047      29.26            32.80          27.78
1    1597056852  1597107461      22.59            22.05          21.67
2    1597065689  1597115311      17.06            11.58          15.00
3    1597060522  1597108633      33.71            33.20          32.78
4    1597065080  1597113914      23.86            23.49          19.00
5    1597055979  1597105065      24.83            27.06          23.89
6    1597059998  1597108015      30.86            31.38          30.00
7    1597060061  1597108648      34.15            34.33          33.33
8    1597060868  1597108527      32.01            31.92          31.00
9    1597053678  1597104904      24.79            25.72          23.33
10   1597054289  1597104499      26.53            29.49          25.56
11   1597060780  1597108735      34.51            32.88          33.33
12   1597065610  1597115136      27.19            24.07          25.56
13   1597063659  1597112374      42.53            36.41          41.11
14   1597053733  1597104066      29.28            32.83          26.11
15   1597063624  1597112332      42.28            36.13          41.11
16   1597064362  1597116595      24.94            22.12          22.78
17   1597055969  1597106112      27.12            27.93          25.56
18   1597060091  1597108684      34.54            33.59          34.00
19   1597060011  1597108645      34.30            32.01          33.33

    main.temp_max  main.pressure  main.humidity  wind.speed  wind.deg  \
0           31.11           1015             70        2.60       220
1           23.33           1010             78        5.10       210
2           20.00           1013             72        8.70       310
3           35.00           1014             39        4.60       160
4           28.33           1012             56        2.60         0
5           25.56           1016             78        2.60       210
6           32.00           1015             70        8.20       170
7           34.44           1012             38        3.60       170
8           33.00           1014             55        6.70       150
9           27.00           1013             69        3.10       190
10          27.22           1014             72        1.79       202
11          36.00           1013             47        8.70       140
12          28.89           1011             44        6.20       320
13          43.89           1007              8        6.20       300
14          31.11           1015             70        2.60       220
15          43.33           1007              8        6.20       300
16          27.22           1016             39        4.10       310
17          29.00           1014             65        4.10       220
18          35.00           1012             41        6.20       170
19          35.00           1013             34        6.20       180

    clouds.all
0           40
1           75
2           20
3           20
4            1
5           40
6            1
7            0
8            1
9            1
10           0
11          20
12          20
13          20
14          40
15          20
16           1
17          20
18           1
19           5

In [10]:
type(list)

type

In [11]:
#SECOND METHOD TO DO IT
# df=pd.DataFrame.from_dict(response.json()['list'])
# df.head

In [12]:
url="https://api.openweathermap.org/data/2.5/group?id=5780993,5393015,5345860,4160021,4776222,5392423,5331835,4259418,4691930,5400075,5375480,5313457,5380748,5110302,5341145,4762894,5367929,5386834,5372223,5378538&appid=3a9fa2731241e7ab03bbf05564b12ba4&units=metric"

In [13]:
response = requests.get(url)
response.json()

{'cnt': 20,
 'list': [{'coord': {'lon': -111.89, 'lat': 40.76},
   'sys': {'country': 'US',
    'timezone': -21600,
    'sunrise': 1597062810,
    'sunset': 1597113136},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'main': {'temp': 32.5,
    'feels_like': 28.07,
    'temp_min': 31.11,
    'temp_max': 34,
    'pressure': 1014,
    'humidity': 13},
   'visibility': 10000,
   'wind': {'speed': 3.6, 'deg': 360},
   'clouds': {'all': 40},
   'dt': 1597108540,
   'id': 5780993,
   'name': 'Salt Lake City'},
  {'coord': {'lon': -121.96, 'lat': 37.35},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065625,
    'sunset': 1597115154},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 26.93,
    'feels_like': 23.73,
    'temp_min': 24.44,
    'temp_max': 28.89,
    'pressure': 1011,
    'humidity': 44},
   'visibility': 10000,
   'wind': {'speed': 6.2, 'deg': 320},
   'clouds': {'all': 20},
   'dt': 1597108533,
   'id': 5393015,
   'name': 'Santa Clara'},
  {'coord': {'lon': -118.42, 'lat': 33.92},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065137,
    'sunset': 1597113944},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 20.16,
    'feels_like': 15.71,
    'temp_min': 18.89,
    'temp_max': 21.67,
    'pressure': 1013,
    'humidity': 68},
   'visibility': 10000,
   'wind': {'speed': 8.2, 'deg': 270},
   'clouds': {'all': 20},
   'dt': 1597108529,
   'id': 5345860,
   'name': 'El Segundo'},
  {'coord': {'lon': -81.66, 'lat': 30.33},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597056656,
    'sunset': 1597104781},
   'weather': [{'id': 503,
     'main': 'Rain',
     'description': 'very heavy rain',
     'icon': '10n'},
    {'id': 211,
     'main': 'Thunderstorm',
     'description': 'thunderstorm',
     'icon': '11n'},
    {'id': 701, 'main': 'Mist', 'description': 'mist', 'icon': '50n'}],
   'main': {'temp': 23.5,
    'feels_like': 25.46,
    'temp_min': 23,
    'temp_max': 24,
    'pressure': 1019,
    'humidity': 100},
   'visibility': 1207,
   'wind': {'speed': 5.1, 'deg': 280},
   'clouds': {'all': 90},
   'dt': 1597108485,
   'id': 4160021,
   'name': 'Jacksonville'},
  {'coord': {'lon': -76.29, 'lat': 36.85},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597054713,
    'sunset': 1597104147},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'main': {'temp': 26.6,
    'feels_like': 29.72,
    'temp_min': 23.89,
    'temp_max': 29,
    'pressure': 1015,
    'humidity': 78},
   'visibility': 10000,
   'wind': {'speed': 2.6, 'deg': 190},
   'clouds': {'all': 1},
   'dt': 1597108507,
   'id': 4776222,
   'name': 'Norfolk'},
  {'coord': {'lon': -122.33, 'lat': 37.56},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065691,
    'sunset': 1597115266},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 21.06,
    'feels_like': 17.65,
    'temp_min': 15,
    'temp_max': 26,
    'pressure': 1012,
    'humidity': 60},
   'visibility': 10000,
   'wind': {'speed': 6.2, 'deg': 310},
   'clouds': {'all': 20},
   'dt': 1597108533,
   'id': 5392423,
   'name': 'San Mateo'},
  {'coord': {'lon': -118.31, 'lat': 34.18},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065084,
    'sunset': 1597113944},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 26.19,
    'feels_like': 22.65,
    'temp_min': 22.78,
    'temp_max': 31,
    'pressure': 1012,
    'humidity': 36},
   'visibility': 10000,
   'wind': {'speed': 5.1, 'deg': 160},
   'clouds': {'all': 1},
   'dt': 1597108529,
   'id': 5331835,
   'name': 'Burbank'},
  {'coord': {'lon': -86.16, 'lat': 39.77},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597056750,
    'sunset': 1597106847},
   'weather': [{'id': 502,
     'main': 'Rain',
     'description': 'heavy intensity rain',
     'icon': '10n'},
    {'id': 211,
     'main': 'Thunderstorm',
     'description': 'thunderstorm',
     'icon': '11n'}],
   'main': {'temp': 20.68,
    'feels_like': 21.52,
    'temp_min': 20,
    'temp_max': 21,
    'pressure': 1016,
    'humidity': 83},
   'visibility': 10000,
   'wind': {'speed': 2.6, 'deg': 10},
   'clouds': {'all': 40},
   'dt': 1597108489,
   'id': 4259418,
   'name': 'Indianapolis'},
  {'coord': {'lon': -97.32, 'lat': 32.73},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060188,
    'sunset': 1597108765},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 34.6,
    'feels_like': 33.13,
    'temp_min': 33.89,
    'temp_max': 35.56,
    'pressure': 1012,
    'humidity': 38},
   'visibility': 10000,
   'wind': {'speed': 6.2, 'deg': 160},
   'clouds': {'all': 1},
   'dt': 1597108501,
   'id': 4691930,
   'name': 'Fort Worth'},
  {'coord': {'lon': -122.04, 'lat': 37.37},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065642,
    'sunset': 1597115175},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 26.13,
    'feels_like': 22.69,
    'temp_min': 22.78,
    'temp_max': 28.89,
    'pressure': 1011,
    'humidity': 44},
   'visibility': 10000,
   'wind': {'speed': 6.2, 'deg': 320},
   'clouds': {'all': 20},
   'dt': 1597108533,
   'id': 5400075,
   'name': 'Sunnyvale'},
  {'coord': {'lon': -122.08, 'lat': 37.39},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065650,
    'sunset': 1597115187},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 25.58,
    'feels_like': 22.74,
    'temp_min': 22.78,
    'temp_max': 28.33,
    'pressure': 1012,
    'humidity': 64},
   'visibility': 10000,
   'wind': {'speed': 8.2, 'deg': 350},
   'clouds': {'all': 5},
   'dt': 1597108533,
   'id': 5375480,
   'name': 'Mountain View'},
  {'coord': {'lon': -111.9, 'lat': 33.51},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597063612,
    'sunset': 1597112339},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 42.29,
    'feels_like': 37.88,
    'temp_min': 41.11,
    'temp_max': 43.89,
    'pressure': 1009,
    'humidity': 9},
   'visibility': 10000,
   'wind': {'speed': 4.1, 'deg': 220},
   'clouds': {'all': 1},
   'dt': 1597108529,
   'id': 5313457,
   'name': 'Scottsdale'},
  {'coord': {'lon': -122.14, 'lat': 37.44},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065659,
    'sunset': 1597115207},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 23.98,
    'feels_like': 20.52,
    'temp_min': 22.22,
    'temp_max': 26.67,
    'pressure': 1012,
    'humidity': 64},
   'visibility': 10000,
   'wind': {'speed': 8.2, 'deg': 350},
   'clouds': {'all': 5},
   'dt': 1597108533,
   'id': 5380748,
   'name': 'Palo Alto'},
  {'coord': {'lon': -73.95, 'lat': 40.65},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597053712,
    'sunset': 1597104025},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'main': {'temp': 28.12,
    'feels_like': 31.06,
    'temp_min': 25,
    'temp_max': 30,
    'pressure': 1015,
    'humidity': 70},
   'visibility': 10000,
   'wind': {'speed': 2.6, 'deg': 220},
   'clouds': {'all': 40},
   'dt': 1597108522,
   'id': 5110302,
   'name': 'Brooklyn'},
  {'coord': {'lon': -122.03, 'lat': 37.32},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065646,
    'sunset': 1597115168},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 26.69,
    'feels_like': 23.42,
    'temp_min': 24.44,
    'temp_max': 28.89,
    'pressure': 1011,
    'humidity': 44},
   'visibility': 10000,
   'wind': {'speed': 6.2, 'deg': 320},
   'clouds': {'all': 20},
   'dt': 1597108529,
   'id': 5341145,
   'name': 'Cupertino'},
  {'coord': {'lon': -76.35, 'lat': 37.03},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597054708,
    'sunset': 1597104181},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02n'}],
   'main': {'temp': 27.65,
    'feels_like': 31.1,
    'temp_min': 26.11,
    'temp_max': 29,
    'pressure': 1015,
    'humidity': 79},
   'visibility': 10000,
   'wind': {'speed': 3.1, 'deg': 160},
   'clouds': {'all': 20},
   'dt': 1597108507,
   'id': 4762894,
   'name': 'Hampton'},
  {'coord': {'lon': -118.19, 'lat': 33.77},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065097,
    'sunset': 1597113874},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 21.69,
    'feels_like': 18.65,
    'temp_min': 18.89,
    'temp_max': 25.56,
    'pressure': 1012,
    'humidity': 53},
   'visibility': 10000,
   'wind': {'speed': 5.1, 'deg': 300},
   'clouds': {'all': 1},
   'dt': 1597108533,
   'id': 5367929,
   'name': 'Long Beach'},
  {'coord': {'lon': -122.24, 'lat': 37.49},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065677,
    'sunset': 1597115237},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 23,
    'feels_like': 19.18,
    'temp_min': 21,
    'temp_max': 24.44,
    'pressure': 1012,
    'humidity': 64},
   'visibility': 10000,
   'wind': {'speed': 8.2, 'deg': 350},
   'clouds': {'all': 5},
   'dt': 1597108533,
   'id': 5386834,
   'name': 'Redwood City'},
  {'coord': {'lon': -122.18, 'lat': 37.45},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065667,
    'sunset': 1597115218},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 23.34,
    'feels_like': 19.64,
    'temp_min': 22.22,
    'temp_max': 24.44,
    'pressure': 1012,
    'humidity': 64},
   'visibility': 10000,
   'wind': {'speed': 8.2, 'deg': 350},
   'clouds': {'all': 5},
   'dt': 1597108533,
   'id': 5372223,
   'name': 'Menlo Park'},
  {'coord': {'lon': -122.27, 'lat': 37.8},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065650,
    'sunset': 1597115278},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 17.88,
    'feels_like': 12.65,
    'temp_min': 15,
    'temp_max': 21.11,
    'pressure': 1013,
    'humidity': 72},
   'visibility': 10000,
   'wind': {'speed': 8.7, 'deg': 310},
   'clouds': {'all': 20},
   'dt': 1597108533,
   'id': 5378538,
   'name': 'Oakland'}]}

In [14]:
weather = response.json()['list']
df2= json_normalize(weather)
df2

#df=pd.DataFrame.from_dict(response.json()['list'])
#df

C:\Users\sakon\anaconda3.1\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

,weather,visibility,dt,id,name,coord.lon,coord.lat,sys.country,sys.timezone,sys.sunrise,sys.sunset,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all
0,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597108540,5780993,Salt Lake City,-111.89,40.76,US,-21600,1597062810,1597113136,32.50,28.07,31.11,34.00,1014,13,3.6,360,40
1,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108533,5393015,Santa Clara,-121.96,37.35,US,-25200,1597065625,1597115154,26.93,23.73,24.44,28.89,1011,44,6.2,320,20
2,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108529,5345860,El Segundo,-118.42,33.92,US,-25200,1597065137,1597113944,20.16,15.71,18.89,21.67,1013,68,8.2,270,20
3,"[{'id': 503, 'main': 'Rain', 'description': 'v...",1207,1597108485,4160021,Jacksonville,-81.66,30.33,US,-14400,1597056656,1597104781,23.50,25.46,23.00,24.00,1019,100,5.1,280,90
4,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108507,4776222,Norfolk,-76.29,36.85,US,-14400,1597054713,1597104147,26.60,29.72,23.89,29.00,1015,78,2.6,190,1
5,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108533,5392423,San Mateo,-122.33,37.56,US,-25200,1597065691,1597115266,21.06,17.65,15.00,26.00,1012,60,6.2,310,20
6,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108529,5331835,Burbank,-118.31,34.18,US,-25200,1597065084,1597113944,26.19,22.65,22.78,31.00,1012,36,5.1,160,1
7,"[{'id': 502, 'main': 'Rain', 'description': 'h...",10000,1597108489,4259418,Indianapolis,-86.16,39.77,US,-14400,1597056750,1597106847,20.68,21.52,20.00,21.00,1016,83,2.6,10,40
8,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108501,4691930,Fort Worth,-97.32,32.73,US,-18000,1597060188,1597108765,34.60,33.13,33.89,35.56,1012,38,6.2,160,1
9,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108533,5400075,Sunnyvale,-122.04,37.37,US,-25200,1597065642,1597115175,26.13,22.69,22.78,28.89,1011,44,6.2,320,20
10,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5375480,Mountain View,-122.08,37.39,US,-25200,1597065650,1597115187,25.58,22.74,22.78,28.33,1012,64,8.2,350,5
11,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108529,5313457,Scottsdale,-111.90,33.51,US,-25200,1597063612,1597112339,42.29,37.88,41.11,43.89,1009,9,4.1,220,1
12,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5380748,Palo Alto,-122.14,37.44,US,-25200,1597065659,1597115207,23.98,20.52,22.22,26.67,1012,64,8.2,350,5
13,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597108522,5110302,Brooklyn,-73.95,40.65,US,-14400,1597053712,1597104025,28.12,31.06,25.00,30.00,1015,70,2.6,220,40
14,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108529,5341145,Cupertino,-122.03,37.32,US,-25200,1597065646,1597115168,26.69,23.42,24.44,28.89,1011,44,6.2,320,20
15,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108507,4762894,Hampton,-76.35,37.03,US,-14400,1597054708,1597104181,27.65,31.10,26.11,29.00,1015,79,3.1,160,20
16,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5367929,Long Beach,-118.19,33.77,US,-25200,1597065097,1597113874,21.69,18.65,18.89,25.56,1012,53,5.1,300,1
17,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5386834,Redwood City,-122.24,37.49,US,-25200,1597065677,1597115237,23.00,19.18,21.00,24.44,1012,64,8.2,350,5
18,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5372223,Menlo Park,-122.18,37.45,US,-25200,1597065667,1597115218,23.34,19.64,22.22,24.44,1012,64,8.2,350,5
19,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108533,5378538,Oakland,-122.27,37.80,US,-25200,1597065650,1597115278,17.88,12.65,15.00,21.11,1013,72,8.7,310,20

In [15]:
#DataFrame to CSV
df2.to_csv (r'C:\Users\sakon\Desktop\MASTER CSU\CWRU_BOOTCAMP\1.Hmw\12.Project2\Project2Group2\export_dataframe2.csv', index = False, header=True)

In [16]:
print(df2)

                                              weather  visibility          dt  \
0   [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597108540
1   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108533
2   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108529
3   [{'id': 503, 'main': 'Rain', 'description': 'v...        1207  1597108485
4   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108507
5   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108533
6   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108529
7   [{'id': 502, 'main': 'Rain', 'description': 'h...       10000  1597108489
8   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108501
9   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108533
10  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108533
11  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108529
12  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108533
13  [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597108522
14  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108529
15  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108507
16  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108533
17  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108533
18  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108533
19  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108533

         id            name  coord.lon  coord.lat sys.country  sys.timezone  \
0   5780993  Salt Lake City    -111.89      40.76          US        -21600
1   5393015     Santa Clara    -121.96      37.35          US        -25200
2   5345860      El Segundo    -118.42      33.92          US        -25200
3   4160021    Jacksonville     -81.66      30.33          US        -14400
4   4776222         Norfolk     -76.29      36.85          US        -14400
5   5392423       San Mateo    -122.33      37.56          US        -25200
6   5331835         Burbank    -118.31      34.18          US        -25200
7   4259418    Indianapolis     -86.16      39.77          US        -14400
8   4691930      Fort Worth     -97.32      32.73          US        -18000
9   5400075       Sunnyvale    -122.04      37.37          US        -25200
10  5375480   Mountain View    -122.08      37.39          US        -25200
11  5313457      Scottsdale    -111.90      33.51          US        -25200
12  5380748       Palo Alto    -122.14      37.44          US        -25200
13  5110302        Brooklyn     -73.95      40.65          US        -14400
14  5341145       Cupertino    -122.03      37.32          US        -25200
15  4762894         Hampton     -76.35      37.03          US        -14400
16  5367929      Long Beach    -118.19      33.77          US        -25200
17  5386834    Redwood City    -122.24      37.49          US        -25200
18  5372223      Menlo Park    -122.18      37.45          US        -25200
19  5378538         Oakland    -122.27      37.80          US        -25200

    sys.sunrise  sys.sunset  main.temp  main.feels_like  main.temp_min  \
0    1597062810  1597113136      32.50            28.07          31.11
1    1597065625  1597115154      26.93            23.73          24.44
2    1597065137  1597113944      20.16            15.71          18.89
3    1597056656  1597104781      23.50            25.46          23.00
4    1597054713  1597104147      26.60            29.72          23.89
5    1597065691  1597115266      21.06            17.65          15.00
6    1597065084  1597113944      26.19            22.65          22.78
7    1597056750  1597106847      20.68            21.52          20.00
8    1597060188  1597108765      34.60            33.13          33.89
9    1597065642  1597115175      26.13            22.69          22.78
10   1597065650  1597115187      25.58            22.74          22.78
11   1597063612  1597112339      42.29            37.88          41.11
12   1597065659  1597115207      23.98            20.52          22.22
13   1597053712  1597104025      28.12            31.06          25.00
14   1597065646  1597115168      26.69            23.42          24.44
15   1597054708  1597104181      27.65            31.10          26.11
16   1597065097  1597113874      21.69            18.65          18.89
17   1597065677  1597115237      23.00            19.18          21.00
18   1597065667  1597115218      23.34            19.64          22.22
19   1597065650  1597115278      17.88            12.65          15.00

    main.temp_max  main.pressure  main.humidity  wind.speed  wind.deg  \
0           34.00           1014             13         3.6       360
1           28.89           1011             44         6.2       320
2           21.67           1013             68         8.2       270
3           24.00           1019            100         5.1       280
4           29.00           1015             78         2.6       190
5           26.00           1012             60         6.2       310
6           31.00           1012             36         5.1       160
7           21.00           1016             83         2.6        10
8           35.56           1012             38         6.2       160
9           28.89           1011             44         6.2       320
10          28.33           1012             64         8.2       350
11          43.89           1009              9         4.1       220
12          26.67           1012             64         8.2       350
13          30.00           1015             70         2.6       220
14          28.89           1011             44         6.2       320
15          29.00           1015             79         3.1       160
16          25.56           1012             53         5.1       300
17          24.44           1012             64         8.2       350
18          24.44           1012             64         8.2       350
19          21.11           1013             72         8.7       310

    clouds.all
0           40
1           20
2           20
3           90
4            1
5           20
6            1
7           40
8            1
9           20
10           5
11           1
12           5
13          40
14          20
15          20
16           1
17           5
18           5
19          20

In [17]:
url="https://api.openweathermap.org/data/2.5/group?id=5808079,4499379,4722625,5416541,4890119,5350159,5123853,5393212,4671240,5295985&appid=3a9fa2731241e7ab03bbf05564b12ba4&units=metric"

In [18]:
response = requests.get(url)
response.json()

{'cnt': 10,
 'list': [{'coord': {'lon': -122.12, 'lat': 47.67},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597064302,
    'sunset': 1597116554},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 24.5,
    'feels_like': 24.13,
    'temp_min': 22.78,
    'temp_max': 26.11,
    'pressure': 1014,
    'humidity': 56},
   'visibility': 10000,
   'wind': {'speed': 2.91, 'deg': 344},
   'clouds': {'all': 0},
   'dt': 1597108540,
   'id': 5808079,
   'name': 'Redmond'},
  {'coord': {'lon': -77.94, 'lat': 34.23},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597055385,
    'sunset': 1597104267},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02n'}],
   'main': {'temp': 27.66,
    'feels_like': 30.16,
    'temp_min': 26.67,
    'temp_max': 29,
    'pressure': 1016,
    'humidity': 74},
   'visibility': 10000,
   'wind': {'speed': 3.6, 'deg': 200},
   'clouds': {'all': 20},
   'dt': 1597108496,
   'id': 4499379,
   'name': 'Wilmington'},
  {'coord': {'lon': -96.73, 'lat': 32.95},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060025,
    'sunset': 1597108645},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 34.34,
    'feels_like': 32.06,
    'temp_min': 33.33,
    'temp_max': 35,
    'pressure': 1013,
    'humidity': 34},
   'visibility': 10000,
   'wind': {'speed': 6.2, 'deg': 180},
   'clouds': {'all': 5},
   'dt': 1597108501,
   'id': 4722625,
   'name': 'Richardson'},
  {'coord': {'lon': -104.88, 'lat': 39.58},
   'sys': {'country': 'US',
    'timezone': -21600,
    'sunrise': 1597061269,
    'sunset': 1597111313},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'main': {'temp': 28.05,
    'feels_like': 22.83,
    'temp_min': 26.11,
    'temp_max': 30,
    'pressure': 1020,
    'humidity': 16},
   'visibility': 10000,
   'wind': {'speed': 4.6, 'deg': 130},
   'clouds': {'all': 75},
   'dt': 1597108534,
   'id': 5416541,
   'name': 'Centennial'},
  {'coord': {'lon': -88.01, 'lat': 41.81},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597056943,
    'sunset': 1597107542},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'main': {'temp': 20.94,
    'feels_like': 22.63,
    'temp_min': 20.56,
    'temp_max': 21.67,
    'pressure': 1010,
    'humidity': 89},
   'visibility': 10000,
   'wind': {'speed': 2.24, 'deg': 238},
   'clouds': {'all': 100},
   'dt': 1597108508,
   'id': 4890119,
   'name': 'Downers Grove'},
  {'coord': {'lon': -122.27, 'lat': 37.56},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065677,
    'sunset': 1597115252},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 22.89,
    'feels_like': 18.94,
    'temp_min': 20.56,
    'temp_max': 26,
    'pressure': 1012,
    'humidity': 44},
   'visibility': 10000,
   'wind': {'speed': 5.7, 'deg': 300},
   'clouds': {'all': 5},
   'dt': 1597108529,
   'id': 5350159,
   'name': 'Foster City'},
  {'coord': {'lon': -73.72, 'lat': 40.77},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597053642,
    'sunset': 1597103985},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'main': {'temp': 26.24,
    'feels_like': 26.77,
    'temp_min': 24.44,
    'temp_max': 29,
    'pressure': 1014,
    'humidity': 66},
   'visibility': 10000,
   'wind': {'speed': 4.1, 'deg': 170},
   'clouds': {'all': 40},
   'dt': 1597108522,
   'id': 5123853,
   'name': 'Lake Success'},
  {'coord': {'lon': -118.49, 'lat': 34.02},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065143,
    'sunset': 1597113971},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 21.87,
    'feels_like': 20.87,
    'temp_min': 19,
    'temp_max': 25.56,
    'pressure': 1013,
    'humidity': 72},
   'visibility': 10000,
   'wind': {'speed': 4.6, 'deg': 250},
   'clouds': {'all': 1},
   'dt': 1597108533,
   'id': 5393212,
   'name': 'Santa Monica'},
  {'coord': {'lon': -97.11, 'lat': 32.74},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060137,
    'sunset': 1597108716},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 34.62,
    'feels_like': 32.83,
    'temp_min': 33.89,
    'temp_max': 36,
    'pressure': 1013,
    'humidity': 30},
   'visibility': 10000,
   'wind': {'speed': 4.6, 'deg': 180},
   'clouds': {'all': 5},
   'dt': 1597108500,
   'id': 4671240,
   'name': 'Arlington'},
  {'coord': {'lon': -112.19, 'lat': 33.54},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597063679,
    'sunset': 1597112412},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 42.47,
    'feels_like': 36.69,
    'temp_min': 41.11,
    'temp_max': 43.89,
    'pressure': 1007,
    'humidity': 8},
   'visibility': 10000,
   'wind': {'speed': 5.7, 'deg': 260},
   'clouds': {'all': 1},
   'dt': 1597108529,
   'id': 5295985,
   'name': 'Glendale'}]}

In [19]:
weather = response.json()['list']
df3 = json_normalize(weather)
df3

#df=pd.DataFrame.from_dict(response.json()['list'])
#df

C:\Users\sakon\anaconda3.1\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

,weather,visibility,dt,id,name,coord.lon,coord.lat,sys.country,sys.timezone,sys.sunrise,sys.sunset,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all
0,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108540,5808079,Redmond,-122.12,47.67,US,-25200,1597064302,1597116554,24.50,24.13,22.78,26.11,1014,56,2.91,344,0
1,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108496,4499379,Wilmington,-77.94,34.23,US,-14400,1597055385,1597104267,27.66,30.16,26.67,29.00,1016,74,3.60,200,20
2,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108501,4722625,Richardson,-96.73,32.95,US,-18000,1597060025,1597108645,34.34,32.06,33.33,35.00,1013,34,6.20,180,5
3,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,1597108534,5416541,Centennial,-104.88,39.58,US,-21600,1597061269,1597111313,28.05,22.83,26.11,30.00,1020,16,4.60,130,75
4,"[{'id': 500, 'main': 'Rain', 'description': 'l...",10000,1597108508,4890119,Downers Grove,-88.01,41.81,US,-18000,1597056943,1597107542,20.94,22.63,20.56,21.67,1010,89,2.24,238,100
5,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108529,5350159,Foster City,-122.27,37.56,US,-25200,1597065677,1597115252,22.89,18.94,20.56,26.00,1012,44,5.70,300,5
6,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597108522,5123853,Lake Success,-73.72,40.77,US,-14400,1597053642,1597103985,26.24,26.77,24.44,29.00,1014,66,4.10,170,40
7,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5393212,Santa Monica,-118.49,34.02,US,-25200,1597065143,1597113971,21.87,20.87,19.00,25.56,1013,72,4.60,250,1
8,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108500,4671240,Arlington,-97.11,32.74,US,-18000,1597060137,1597108716,34.62,32.83,33.89,36.00,1013,30,4.60,180,5
9,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108529,5295985,Glendale,-112.19,33.54,US,-25200,1597063679,1597112412,42.47,36.69,41.11,43.89,1007,8,5.70,260,1

In [20]:
df3.to_csv (r'C:\Users\sakon\Desktop\MASTER CSU\CWRU_BOOTCAMP\1.Hmw\12.Project2\Project2Group2\export_dataframe3.csv', index = False, header=True)

In [21]:
print(df3)

                                             weather  visibility          dt  \
0  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108540
1  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108496
2  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108501
3  [{'id': 803, 'main': 'Clouds', 'description': ...       10000  1597108534
4  [{'id': 500, 'main': 'Rain', 'description': 'l...       10000  1597108508
5  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108529
6  [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597108522
7  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108533
8  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108500
9  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108529

        id           name  coord.lon  coord.lat sys.country  sys.timezone  \
0  5808079        Redmond    -122.12      47.67          US        -25200
1  4499379     Wilmington     -77.94      34.23          US        -14400
2  4722625     Richardson     -96.73      32.95          US        -18000
3  5416541     Centennial    -104.88      39.58          US        -21600
4  4890119  Downers Grove     -88.01      41.81          US        -18000
5  5350159    Foster City    -122.27      37.56          US        -25200
6  5123853   Lake Success     -73.72      40.77          US        -14400
7  5393212   Santa Monica    -118.49      34.02          US        -25200
8  4671240      Arlington     -97.11      32.74          US        -18000
9  5295985       Glendale    -112.19      33.54          US        -25200

   sys.sunrise  sys.sunset  main.temp  main.feels_like  main.temp_min  \
0   1597064302  1597116554      24.50            24.13          22.78
1   1597055385  1597104267      27.66            30.16          26.67
2   1597060025  1597108645      34.34            32.06          33.33
3   1597061269  1597111313      28.05            22.83          26.11
4   1597056943  1597107542      20.94            22.63          20.56
5   1597065677  1597115252      22.89            18.94          20.56
6   1597053642  1597103985      26.24            26.77          24.44
7   1597065143  1597113971      21.87            20.87          19.00
8   1597060137  1597108716      34.62            32.83          33.89
9   1597063679  1597112412      42.47            36.69          41.11

   main.temp_max  main.pressure  main.humidity  wind.speed  wind.deg  \
0          26.11           1014             56        2.91       344
1          29.00           1016             74        3.60       200
2          35.00           1013             34        6.20       180
3          30.00           1020             16        4.60       130
4          21.67           1010             89        2.24       238
5          26.00           1012             44        5.70       300
6          29.00           1014             66        4.10       170
7          25.56           1013             72        4.60       250
8          36.00           1013             30        4.60       180
9          43.89           1007              8        5.70       260

   clouds.all
0           0
1          20
2           5
3          75
4         100
5           5
6          40
7           1
8           5
9           1

In [22]:
# Concatenate DataFrames
df4 = [df1, df2, df3]
result = pd.concat(df4)
result

,weather,visibility,dt,id,name,coord.lon,coord.lat,sys.country,sys.timezone,sys.sunrise,sys.sunset,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all
0,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597108523,5128581,New York City,-74.01,40.71,US,-14400,1597053719,1597104047,29.26,32.80,27.78,31.11,1015,70,2.60,220,40
1,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,1597108508,4887398,Chicago,-87.65,41.85,US,-18000,1597056852,1597107461,22.59,22.05,21.67,23.33,1010,78,5.10,210,75
2,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108533,5391959,San Francisco,-122.42,37.77,US,-25200,1597065689,1597115311,17.06,11.58,15.00,20.00,1013,72,8.70,310,20
3,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108500,4671654,Austin,-97.74,30.27,US,-18000,1597060522,1597108633,33.71,33.20,32.78,35.00,1014,39,4.60,160,20
4,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5368361,Los Angeles,-118.24,34.05,US,-25200,1597065080,1597113914,23.86,23.49,19.00,28.33,1012,56,2.60,0,1
5,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597108495,4460243,Charlotte,-80.84,35.23,US,-14400,1597055979,1597105065,24.83,27.06,23.89,25.56,1016,78,2.60,210,40
6,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108501,4699066,Houston,-95.36,29.76,US,-18000,1597059998,1597108015,30.86,31.38,30.00,32.00,1015,70,8.20,170,1
7,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108501,4684888,Dallas,-96.81,32.78,US,-18000,1597060061,1597108648,34.15,34.33,33.33,34.44,1012,38,3.60,170,0
8,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108507,4726311,San Diego,-98.24,27.76,US,-18000,1597060868,1597108527,32.01,31.92,31.00,33.00,1014,55,6.70,150,1
9,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108523,5131095,Philadelphia,-75.71,44.15,US,-14400,1597053678,1597104904,24.79,25.72,23.33,27.00,1013,69,3.10,190,1
10,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108524,5186794,Denver,-76.14,40.23,US,-14400,1597054289,1597104499,26.53,29.49,25.56,27.22,1014,72,1.79,202,0
11,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108507,4726206,San Antonio,-98.49,29.42,US,-18000,1597060780,1597108735,34.51,32.88,33.33,36.00,1013,47,8.70,140,20
12,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108533,5392171,San Jose,-121.89,37.34,US,-25200,1597065610,1597115136,27.19,24.07,25.56,28.89,1011,44,6.20,320,20
13,"[{'id': 711, 'main': 'Smoke', 'description': '...",10000,1597108529,5308655,Phoenix,-112.07,33.45,US,-25200,1597063659,1597112374,42.53,36.41,41.11,43.89,1007,8,6.20,300,20
14,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597108522,5099836,Jersey City,-74.08,40.73,US,-14400,1597053733,1597104066,29.28,32.83,26.11,31.11,1015,70,2.60,220,40
15,"[{'id': 711, 'main': 'Smoke', 'description': '...",10000,1597108529,5317058,Tempe,-111.91,33.41,US,-25200,1597063624,1597112332,42.28,36.13,41.11,43.33,1007,8,6.20,300,20
16,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108540,5809844,Seattle,-122.33,47.61,US,-25200,1597064362,1597116595,24.94,22.12,22.78,27.22,1016,39,4.10,310,1
17,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108496,4509177,Columbus,-83.00,39.96,US,-14400,1597055969,1597106112,27.12,27.93,25.56,29.00,1014,65,4.10,220,20
18,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108501,4700168,Irving,-96.95,32.81,US,-18000,1597060091,1597108684,34.54,33.59,34.00,35.00,1012,41,6.20,170,1
19,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108501,4719457,Plano,-96.70,33.02,US,-18000,1597060011,1597108645,34.30,32.01,33.33,35.00,1013,34,6.20,180,5
0,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597108540,5780993,Salt Lake City,-111.89,40.76,US,-21600,1597062810,1597113136,32.50,28.07,31.11,34.00,1014,13,3.60,360,40
1,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108533,5393015,Santa Clara,-121.96,37.35,US,-25200,1597065625,1597115154,26.93,23.73,24.44,28.89,1011,44,6.20,320,20
2,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108529,5345860,El Segundo,-118.42,33.92,US,-25200,1597065137,1597113944,20.16,15.71,18.89,21.67,1013,68,8.20,270,20
3,"[{'id': 503, 'main': 'Rain', 'description': 'v...",1207,1597108485,4160021,Jacksonville,-81.66,30.33,US,-14400,1597056656,1597104781,23.50,25.46,23.00,24.00,1019,100,5.10,280,90
4,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108507,4776222,Norfolk,-76.29,36.85,US,-14400,1597054713,1597104147,26.60,29.72,23.89,29.00,1015,78,2.60,190,1
5,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108533,5392423,San Mateo,-122.33,37.56,US,-25200,1597065691,1597115266,21.06,17.65,15.00,26.00,1012,60,6.20,310,20
6,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108529,5331835,Burbank,-118.31,34.18,US,-25200,1597065084,1597113944,26.19,22.65,22.78,31.00,1012,36,5.10,160,1
7,"[{'id': 502, 'main': 'Rain', 'description': 'h...",10000,1597108489,4259418,Indianapolis,-86.16,39.77,US,-14400,1597056750,1597106847,20.68,21.52,20.00,21.00,1016,83,2.60,10,40
8,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108501,4691930,Fort Worth,-97.32,32.73,US,-18000,1597060188,1597108765,34.60,33.13,33.89,35.56,1012,38,6.20,160,1
9,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108533,5400075,Sunnyvale,-122.04,37.37,US,-25200,1597065642,1597115175,26.13,22.69,22.78,28.89,1011,44,6.20,320,20
10,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5375480,Mountain View,-122.08,37.39,US,-25200,1597065650,1597115187,25.58,22.74,22.78,28.33,1012,64,8.20,350,5
11,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108529,5313457,Scottsdale,-111.90,33.51,US,-25200,1597063612,1597112339,42.29,37.88,41.11,43.89,1009,9,4.10,220,1
12,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5380748,Palo Alto,-122.14,37.44,US,-25200,1597065659,1597115207,23.98,20.52,22.22,26.67,1012,64,8.20,350,5
13,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597108522,5110302,Brooklyn,-73.95,40.65,US,-14400,1597053712,1597104025,28.12,31.06,25.00,30.00,1015,70,2.60,220,40
14,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108529,5341145,Cupertino,-122.03,37.32,US,-25200,1597065646,1597115168,26.69,23.42,24.44,28.89,1011,44,6.20,320,20
15,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108507,4762894,Hampton,-76.35,37.03,US,-14400,1597054708,1597104181,27.65,31.10,26.11,29.00,1015,79,3.10,160,20
16,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5367929,Long Beach,-118.19,33.77,US,-25200,1597065097,1597113874,21.69,18.65,18.89,25.56,1012,53,5.10,300,1
17,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5386834,Redwood City,-122.24,37.49,US,-25200,1597065677,1597115237,23.00,19.18,21.00,24.44,1012,64,8.20,350,5
18,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5372223,Menlo Park,-122.18,37.45,US,-25200,1597065667,1597115218,23.34,19.64,22.22,24.44,1012,64,8.20,350,5
19,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108533,5378538,Oakland,-122.27,37.80,US,-25200,1597065650,1597115278,17.88,12.65,15.00,21.11,1013,72,8.70,310,20
0,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108540,5808079,Redmond,-122.12,47.67,US,-25200,1597064302,1597116554,24.50,24.13,22.78,26.11,1014,56,2.91,344,0
1,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108496,4499379,Wilmington,-77.94,34.23,US,-14400,1597055385,1597104267,27.66,30.16,26.67,29.00,1016,74,3.60,200,20
2,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108501,4722625,Richardson,-96.73,32.95,US,-18000,1597060025,1597108645,34.34,32.06,33.33,35.00,1013,34,6.20,180,5
3,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,1597108534,5416541,Centennial,-104.88,39.58,US,-21600,1597061269,1597111313,28.05,22.83,26.11,30.00,1020,16,4.60,130,75
4,"[{'id': 500, 'main': 'Rain', 'description': 'l...",10000,1597108508,4890119,Downers Grove,-88.01,41.81,US,-18000,1597056943,1597107542,20.94,22.63,20.56,21.67,1010,89,2.24,238,100
5,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108529,5350159,Foster City,-122.27,37.56,US,-25200,1597065677,1597115252,22.89,18.94,20.56,26.00,1012,44,5.70,300,5
6,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597108522,5123853,Lake Success,-73.72,40.77,US,-14400,1597053642,1597103985,26.24,26.77,24.44,29.00,1014,66,4.10,170,40
7,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5393212,Santa Monica,-118.49,34.02,US,-25200,1597065143,1597113971,21.87,20.87,19.00,25.56,1013,72,4.60,250,1
8,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108500,4671240,Arlington,-97.11,32.74,US,-18000,1597060137,1597108716,34.62,32.83,33.89,36.00,1013,30,4.60,180,5
9,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108529,5295985,Glendale,-112.19,33.54,US,-25200,1597063679,1597112412,42.47,36.69,41.11,43.89,1007,8,5.70,260,1

In [23]:
# DataFrame.rename

In [24]:
result.to_csv(r'C:\Users\sakon\Desktop\MASTER CSU\CWRU_BOOTCAMP\1.Hmw\12.Project2\Project2Group2\OpenweatherAPI2.csv', index = False, header=True)
print(result)

                                              weather  visibility          dt  \
0   [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597108523
1   [{'id': 803, 'main': 'Clouds', 'description': ...       10000  1597108508
2   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108533
3   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108500
4   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108533
5   [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597108495
6   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108501
7   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108501
8   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108507
9   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108523
10  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108524
11  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108507
12  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108533
13  [{'id': 711, 'main': 'Smoke', 'description': '...       10000  1597108529
14  [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597108522
15  [{'id': 711, 'main': 'Smoke', 'description': '...       10000  1597108529
16  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108540
17  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108496
18  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108501
19  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108501
0   [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597108540
1   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108533
2   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108529
3   [{'id': 503, 'main': 'Rain', 'description': 'v...        1207  1597108485
4   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108507
5   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108533
6   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108529
7   [{'id': 502, 'main': 'Rain', 'description': 'h...       10000  1597108489
8   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108501
9   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108533
10  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108533
11  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108529
12  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108533
13  [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597108522
14  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108529
15  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108507
16  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108533
17  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108533
18  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108533
19  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108533
0   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108540
1   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597108496
2   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108501
3   [{'id': 803, 'main': 'Clouds', 'description': ...       10000  1597108534
4   [{'id': 500, 'main': 'Rain', 'description': 'l...       10000  1597108508
5   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108529
6   [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597108522
7   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108533
8   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108500
9   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597108529

         id            name  coord.lon  coord.lat sys.country  sys.timezone  \
0   5128581   New York City     -74.01      40.71          US        -14400
1   4887398         Chicago     -87.65      41.85          US        -18000
2   5391959   San Francisco    -122.42      37.77          US        -25200
3   4671654          Austin     -97.74      30.27          US        -18000
4   5368361     Los Angeles    -118.24      34.05          US        -25200
5   4460243       Charlotte     -80.84      35.23          US        -14400
6   4699066         Houston     -95.36      29.76          US        -18000
7   4684888          Dallas     -96.81      32.78          US        -18000
8   4726311       San Diego     -98.24      27.76          US        -18000
9   5131095    Philadelphia     -75.71      44.15          US        -14400
10  5186794          Denver     -76.14      40.23          US        -14400
11  4726206     San Antonio     -98.49      29.42          US        -18000
12  5392171        San Jose    -121.89      37.34          US        -25200
13  5308655         Phoenix    -112.07      33.45          US        -25200
14  5099836     Jersey City     -74.08      40.73          US        -14400
15  5317058           Tempe    -111.91      33.41          US        -25200
16  5809844         Seattle    -122.33      47.61          US        -25200
17  4509177        Columbus     -83.00      39.96          US        -14400
18  4700168          Irving     -96.95      32.81          US        -18000
19  4719457           Plano     -96.70      33.02          US        -18000
0   5780993  Salt Lake City    -111.89      40.76          US        -21600
1   5393015     Santa Clara    -121.96      37.35          US        -25200
2   5345860      El Segundo    -118.42      33.92          US        -25200
3   4160021    Jacksonville     -81.66      30.33          US        -14400
4   4776222         Norfolk     -76.29      36.85          US        -14400
5   5392423       San Mateo    -122.33      37.56          US        -25200
6   5331835         Burbank    -118.31      34.18          US        -25200
7   4259418    Indianapolis     -86.16      39.77          US        -14400
8   4691930      Fort Worth     -97.32      32.73          US        -18000
9   5400075       Sunnyvale    -122.04      37.37          US        -25200
10  5375480   Mountain View    -122.08      37.39          US        -25200
11  5313457      Scottsdale    -111.90      33.51          US        -25200
12  5380748       Palo Alto    -122.14      37.44          US        -25200
13  5110302        Brooklyn     -73.95      40.65          US        -14400
14  5341145       Cupertino    -122.03      37.32          US        -25200
15  4762894         Hampton     -76.35      37.03          US        -14400
16  5367929      Long Beach    -118.19      33.77          US        -25200
17  5386834    Redwood City    -122.24      37.49          US        -25200
18  5372223      Menlo Park    -122.18      37.45          US        -25200
19  5378538         Oakland    -122.27      37.80          US        -25200
0   5808079         Redmond    -122.12      47.67          US        -25200
1   4499379      Wilmington     -77.94      34.23          US        -14400
2   4722625      Richardson     -96.73      32.95          US        -18000
3   5416541      Centennial    -104.88      39.58          US        -21600
4   4890119   Downers Grove     -88.01      41.81          US        -18000
5   5350159     Foster City    -122.27      37.56          US        -25200
6   5123853    Lake Success     -73.72      40.77          US        -14400
7   5393212    Santa Monica    -118.49      34.02          US        -25200
8   4671240       Arlington     -97.11      32.74          US        -18000
9   5295985        Glendale    -112.19      33.54          US        -25200

    sys.sunrise  sys.sunset  main.temp  main.feels_like  main.temp_min  \
0    1597053719  1597104047      29.26            32.80          27.78
1    1597056852  1597107461      22.59            22.05          21.67
2    1597065689  1597115311      17.06            11.58          15.00
3    1597060522  1597108633      33.71            33.20          32.78
4    1597065080  1597113914      23.86            23.49          19.00
5    1597055979  1597105065      24.83            27.06          23.89
6    1597059998  1597108015      30.86            31.38          30.00
7    1597060061  1597108648      34.15            34.33          33.33
8    1597060868  1597108527      32.01            31.92          31.00
9    1597053678  1597104904      24.79            25.72          23.33
10   1597054289  1597104499      26.53            29.49          25.56
11   1597060780  1597108735      34.51            32.88          33.33
12   1597065610  1597115136      27.19            24.07          25.56
13   1597063659  1597112374      42.53            36.41          41.11
14   1597053733  1597104066      29.28            32.83          26.11
15   1597063624  1597112332      42.28            36.13          41.11
16   1597064362  1597116595      24.94            22.12          22.78
17   1597055969  1597106112      27.12            27.93          25.56
18   1597060091  1597108684      34.54            33.59          34.00
19   1597060011  1597108645      34.30            32.01          33.33
0    1597062810  1597113136      32.50            28.07          31.11
1    1597065625  1597115154      26.93            23.73          24.44
2    1597065137  1597113944      20.16            15.71          18.89
3    1597056656  1597104781      23.50            25.46          23.00
4    1597054713  1597104147      26.60            29.72          23.89
5    1597065691  1597115266      21.06            17.65          15.00
6    1597065084  1597113944      26.19            22.65          22.78
7    1597056750  1597106847      20.68            21.52          20.00
8    1597060188  1597108765      34.60            33.13          33.89
9    1597065642  1597115175      26.13            22.69          22.78
10   1597065650  1597115187      25.58            22.74          22.78
11   1597063612  1597112339      42.29            37.88          41.11
12   1597065659  1597115207      23.98            20.52          22.22
13   1597053712  1597104025      28.12            31.06          25.00
14   1597065646  1597115168      26.69            23.42          24.44
15   1597054708  1597104181      27.65            31.10          26.11
16   1597065097  1597113874      21.69            18.65          18.89
17   1597065677  1597115237      23.00            19.18          21.00
18   1597065667  1597115218      23.34            19.64          22.22
19   1597065650  1597115278      17.88            12.65          15.00
0    1597064302  1597116554      24.50            24.13          22.78
1    1597055385  1597104267      27.66            30.16          26.67
2    1597060025  1597108645      34.34            32.06          33.33
3    1597061269  1597111313      28.05            22.83          26.11
4    1597056943  1597107542      20.94            22.63          20.56
5    1597065677  1597115252      22.89            18.94          20.56
6    1597053642  1597103985      26.24            26.77          24.44
7    1597065143  1597113971      21.87            20.87          19.00
8    1597060137  1597108716      34.62            32.83          33.89
9    1597063679  1597112412      42.47            36.69          41.11

    main.temp_max  main.pressure  main.humidity  wind.speed  wind.deg  \
0           31.11           1015             70        2.60       220
1           23.33           1010             78        5.10       210
2           20.00           1013             72        8.70       310
3           35.00           1014             39        4.60       160
4           28.33           1012             56        2.60         0
5           25.56           1016             78        2.60       210
6           32.00           1015             70        8.20       170
7           34.44           1012             38        3.60       170
8           33.00           1014             55        6.70       150
9           27.00           1013             69        3.10       190
10          27.22           1014             72        1.79       202
11          36.00           1013             47        8.70       140
12          28.89           1011             44        6.20       320
13          43.89           1007              8        6.20       300
14          31.11           1015             70        2.60       220
15          43.33           1007              8        6.20       300
16          27.22           1016             39        4.10       310
17          29.00           1014             65        4.10       220
18          35.00           1012             41        6.20       170
19          35.00           1013             34        6.20       180
0           34.00           1014             13        3.60       360
1           28.89           1011             44        6.20       320
2           21.67           1013             68        8.20       270
3           24.00           1019            100        5.10       280
4           29.00           1015             78        2.60       190
5           26.00           1012             60        6.20       310
6           31.00           1012             36        5.10       160
7           21.00           1016             83        2.60        10
8           35.56           1012             38        6.20       160
9           28.89           1011             44        6.20       320
10          28.33           1012             64        8.20       350
11          43.89           1009              9        4.10       220
12          26.67           1012             64        8.20       350
13          30.00           1015             70        2.60       220
14          28.89           1011             44        6.20       320
15          29.00           1015             79        3.10       160
16          25.56           1012             53        5.10       300
17          24.44           1012             64        8.20       350
18          24.44           1012             64        8.20       350
19          21.11           1013             72        8.70       310
0           26.11           1014             56        2.91       344
1           29.00           1016             74        3.60       200
2           35.00           1013             34        6.20       180
3           30.00           1020             16        4.60       130
4           21.67           1010             89        2.24       238
5           26.00           1012             44        5.70       300
6           29.00           1014             66        4.10       170
7           25.56           1013             72        4.60       250
8           36.00           1013             30        4.60       180
9           43.89           1007              8        5.70       260

    clouds.all
0           40
1           75
2           20
3           20
4            1
5           40
6            1
7            0
8            1
9            1
10           0
11          20
12          20
13          20
14          40
15          20
16           1
17          20
18           1
19           5
0           40
1           20
2           20
3           90
4            1
5           20
6            1
7           40
8            1
9           20
10           5
11           1
12           5
13          40
14          20
15          20
16           1
17           5
18           5
19          20
0            0
1           20
2            5
3           75
4          100
5            5
6           40
7            1
8            5

9            1