In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import json
from pandas.io.json import json_normalize
import pandas as pd
import numpy as np
import time
from scipy.stats import linregress
from datetime import datetime
import re
import gmaps
import csv
import os
import configparser
import requests
import sys

In [2]:
#API Key
api_key = "3a9fa2731241e7ab03bbf05564b12ba4"

##STATES AND CITY LIST

#state_names= ["NY", "IL", "CA", "TX", "NC", "PA", "CO", "AZ", "NJ", "WA", "OH", "UT", "FL", "VA", "IN", "DE"]

#city_names=["New York", "Chicago", "San Francisco", "Austin", "Los Angeles", "Charlotte", "Houston", "Dallas", "San Diego", "Philadelphia", "Denver", "San Antonio", "San Jose", "Phoenix", "Jersey City",
#"Tempe", "Seattle", "Columbus", "Irving", "Plano", "Salt Lake City", "Santa Clara", "El Segundo", "Jacksonville", "Norfolk", "San Mateo", "Burbank", "Indianapolis", "Fort Worth", "Sunnyvale", "Mountain View",
#"Scottsdale", "Palo Alto","Brooklyn","Cupertino", "Hampton", "Long Beach", "Redwood City", "Menlo Park", "Oakland", "Redmond", "Wilmington", "Richardson","Centennial","Downers Grove", "Foster City", "Lake Success",
#"Santa Monica", "Arlington"]

#url= "https://api.openweathermap.org/data/2.5/weather?q=Austin,us&appid=3a9fa2731241e7ab03bbf05564b12ba4&units=metric"

###############################################
#df = pd.read_json('C:\Users\sakon\Desktop\MASTER CSU\CWRU_BOOTCAMP\1.Hmw\12.Project2\Project2Group2\Json_to_csv.gz')
#df = pd.read_json (r'C:\Users\Ron\Desktop\Test\Product_List.json')
#export_csv = df.to_csv (r'C:\Users\Ron\Desktop\Test\New_Products.csv', index = None, header=True)

In [3]:
#URL

url="https://api.openweathermap.org/data/2.5/group?id=5039192,4887398,5391959,4671654,5344994,4460243,4699066,4704482,4726311,5131095,5186794,4726206,5392171,5308655,5099836,5317058,5809844,4509177,4700168,4719457&appid=3a9fa2731241e7ab03bbf05564b12ba4&units=metric"

In [4]:
# Other way to load data is:
#data = json.loads(response.text)
#print(data)

# Using this method to load
response = requests.get(url)
response.json()

{'cnt': 20,
 'list': [{'coord': {'lon': -95.38, 'lat': 46.52},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597058058,
    'sunset': 1597109964},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 12.89,
    'feels_like': 12.74,
    'temp_min': 12.78,
    'temp_max': 13,
    'pressure': 1015,
    'humidity': 100},
   'visibility': 10000,
   'wind': {'speed': 1.5, 'deg': 270},
   'clouds': {'all': 1},
   'dt': 1597065322,
   'id': 5039192,
   'name': 'New York Mills'},
  {'coord': {'lon': -87.65, 'lat': 41.85},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597056852,
    'sunset': 1597107461},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'main': {'temp': 25.16,
    'feels_like': 26.67,
    'temp_min': 24.44,
    'temp_max': 26.11,
    'pressure': 1014,
    'humidity': 83},
   'visibility': 10000,
   'wind': {'speed': 4.6, 'deg': 180},
   'clouds': {'all': 75},
   'dt': 1597065318,
   'id': 4887398,
   'name': 'Chicago'},
  {'coord': {'lon': -122.42, 'lat': 37.77},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065689,
    'sunset': 1597115311},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'main': {'temp': 13.24,
    'feels_like': 11.78,
    'temp_min': 12.22,
    'temp_max': 15,
    'pressure': 1013,
    'humidity': 87},
   'visibility': 10000,
   'wind': {'speed': 2.6, 'deg': 290},
   'clouds': {'all': 75},
   'dt': 1597065338,
   'id': 5391959,
   'name': 'San Francisco'},
  {'coord': {'lon': -97.74, 'lat': 30.27},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060522,
    'sunset': 1597108633},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'main': {'temp': 26.11,
    'feels_like': 27.7,
    'temp_min': 25,
    'temp_max': 27,
    'pressure': 1019,
    'humidity': 78},
   'visibility': 10000,
   'wind': {'speed': 4.41, 'deg': 185},
   'clouds': {'all': 75},
   'dt': 1597065309,
   'id': 4671654,
   'name': 'Austin'},
  {'coord': {'lon': -118.17, 'lat': 34.02},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065067,
    'sunset': 1597113894},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'main': {'temp': 15.76,
    'feels_like': 15.56,
    'temp_min': 13.89,
    'temp_max': 17.22,
    'pressure': 1014,
    'humidity': 82},
   'visibility': 10000,
   'wind': {'speed': 1.48, 'deg': 240},
   'clouds': {'all': 90},
   'dt': 1597065337,
   'id': 5344994,
   'name': 'East Los Angeles'},
  {'coord': {'lon': -80.84, 'lat': 35.23},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597055979,
    'sunset': 1597105065},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 24.24,
    'feels_like': 26.01,
    'temp_min': 22.22,
    'temp_max': 26,
    'pressure': 1020,
    'humidity': 65},
   'visibility': 10000,
   'wind': {'speed': 1, 'deg': 257},
   'clouds': {'all': 20},
   'dt': 1597065298,
   'id': 4460243,
   'name': 'Charlotte'},
  {'coord': {'lon': -95.36, 'lat': 29.76},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597059998,
    'sunset': 1597108015},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 27.59,
    'feels_like': 31.05,
    'temp_min': 26.11,
    'temp_max': 28.89,
    'pressure': 1018,
    'humidity': 88},
   'visibility': 10000,
   'wind': {'speed': 4.6, 'deg': 160},
   'clouds': {'all': 20},
   'dt': 1597065310,
   'id': 4699066,
   'name': 'Houston'},
  {'coord': {'lon': -97.03, 'lat': 33.12},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060080,
    'sunset': 1597108734},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 27.22,
    'feels_like': 28.9,
    'temp_min': 26.67,
    'temp_max': 27.78,
    'pressure': 1017,
    'humidity': 69},
   'visibility': 10000,
   'wind': {'speed': 3.6, 'deg': 180},
   'clouds': {'all': 1},
   'dt': 1597065312,
   'id': 4704482,
   'name': 'Lake Dallas'},
  {'coord': {'lon': -98.24, 'lat': 27.76},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060868,
    'sunset': 1597108527},
   'weather': [{'id': 701,
     'main': 'Mist',
     'description': 'mist',
     'icon': '50d'}],
   'main': {'temp': 23.51,
    'feels_like': 27.99,
    'temp_min': 23,
    'temp_max': 24,
    'pressure': 1017,
    'humidity': 100},
   'visibility': 1207,
   'wind': {'speed': 1.5, 'deg': 160},
   'clouds': {'all': 90},
   'dt': 1597065313,
   'id': 4726311,
   'name': 'San Diego'},
  {'coord': {'lon': -75.71, 'lat': 44.15},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597053678,
    'sunset': 1597104904},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'main': {'temp': 23.74,
    'feels_like': 25.73,
    'temp_min': 23,
    'temp_max': 24.44,
    'pressure': 1016,
    'humidity': 88},
   'visibility': 10000,
   'wind': {'speed': 3.6, 'deg': 220},
   'clouds': {'all': 40},
   'dt': 1597065327,
   'id': 5131095,
   'name': 'Philadelphia'},
  {'coord': {'lon': -76.14, 'lat': 40.23},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597054289,
    'sunset': 1597104499},
   'weather': [{'id': 701,
     'main': 'Mist',
     'description': 'mist',
     'icon': '50d'}],
   'main': {'temp': 24.37,
    'feels_like': 29.33,
    'temp_min': 23,
    'temp_max': 27,
    'pressure': 1019,
    'humidity': 94},
   'visibility': 9656,
   'wind': {'speed': 0.68, 'deg': 310},
   'clouds': {'all': 40},
   'dt': 1597065330,
   'id': 5186794,
   'name': 'Denver'},
  {'coord': {'lon': -98.49, 'lat': 29.42},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060780,
    'sunset': 1597108735},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 26.02,
    'feels_like': 29.59,
    'temp_min': 25,
    'temp_max': 27,
    'pressure': 1018,
    'humidity': 88},
   'visibility': 10000,
   'wind': {'speed': 3.1, 'deg': 160},
   'clouds': {'all': 20},
   'dt': 1597065313,
   'id': 4726206,
   'name': 'San Antonio'},
  {'coord': {'lon': -121.89, 'lat': 37.34},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065610,
    'sunset': 1597115136},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'main': {'temp': 15.46,
    'feels_like': 15.09,
    'temp_min': 14.44,
    'temp_max': 16.67,
    'pressure': 1014,
    'humidity': 67},
   'visibility': 10000,
   'wind': {'speed': 0.35, 'deg': 243},
   'clouds': {'all': 36},
   'dt': 1597065338,
   'id': 5392171,
   'name': 'San Jose'},
  {'coord': {'lon': -112.07, 'lat': 33.45},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597063659,
    'sunset': 1597112374},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'main': {'temp': 28.92,
    'feels_like': 27.39,
    'temp_min': 27.78,
    'temp_max': 30,
    'pressure': 1010,
    'humidity': 23},
   'visibility': 10000,
   'wind': {'speed': 0.78, 'deg': 271},
   'clouds': {'all': 40},
   'dt': 1597065337,
   'id': 5308655,
   'name': 'Phoenix'},
  {'coord': {'lon': -74.08, 'lat': 40.73},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597053733,
    'sunset': 1597104066},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 26.26,
    'feels_like': 31.77,
    'temp_min': 24,
    'temp_max': 28,
    'pressure': 1018,
    'humidity': 94},
   'visibility': 10000,
   'wind': {'speed': 1.5, 'deg': 240},
   'clouds': {'all': 1},
   'dt': 1597065327,
   'id': 5099836,
   'name': 'Jersey City'},
  {'coord': {'lon': -111.91, 'lat': 33.41},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597063624,
    'sunset': 1597112332},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'main': {'temp': 28.15,
    'feels_like': 26.89,
    'temp_min': 26.67,
    'temp_max': 30,
    'pressure': 1010,
    'humidity': 23},
   'visibility': 10000,
   'wind': {'speed': 0.21, 'deg': 318},
   'clouds': {'all': 40},
   'dt': 1597065337,
   'id': 5317058,
   'name': 'Tempe'},
  {'coord': {'lon': -122.33, 'lat': 47.61},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597064362,
    'sunset': 1597116595},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 13.15,
    'feels_like': 12.18,
    'temp_min': 11.67,
    'temp_max': 15,
    'pressure': 1021,
    'humidity': 82},
   'visibility': 10000,
   'wind': {'speed': 1.5, 'deg': 140},
   'clouds': {'all': 1},
   'dt': 1597065344,
   'id': 5809844,
   'name': 'Seattle'},
  {'coord': {'lon': -83, 'lat': 39.96},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1597055969,
    'sunset': 1597106112},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'main': {'temp': 23.3,
    'feels_like': 25.17,
    'temp_min': 21.67,
    'temp_max': 24.44,
    'pressure': 1018,
    'humidity': 78},
   'visibility': 10000,
   'wind': {'speed': 2.1, 'deg': 150},
   'clouds': {'all': 40},
   'dt': 1597065302,
   'id': 4509177,
   'name': 'Columbus'},
  {'coord': {'lon': -96.95, 'lat': 32.81},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060091,
    'sunset': 1597108684},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 26.77,
    'feels_like': 27.34,
    'temp_min': 26,
    'temp_max': 27.78,
    'pressure': 1017,
    'humidity': 74},
   'visibility': 10000,
   'wind': {'speed': 5.7, 'deg': 180},
   'clouds': {'all': 20},
   'dt': 1597065310,
   'id': 4700168,
   'name': 'Irving'},
  {'coord': {'lon': -96.7, 'lat': 33.02},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060011,
    'sunset': 1597108645},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 26.91,
    'feels_like': 28.44,
    'temp_min': 26.11,
    'temp_max': 27.78,
    'pressure': 1017,
    'humidity': 69},
   'visibility': 10000,
   'wind': {'speed': 3.6, 'deg': 190},
   'clouds': {'all': 5},
   'dt': 1597065313,
   'id': 4719457,
   'name': 'Plano'}]}

In [5]:
# Other way to do it
#dataframe = pd.DataFrame.from_dict(response.json, orient="index")
#print(dataframe)

response.json().keys()

dict_keys(['cnt', 'list'])

In [6]:
#JSON response

response.json()['list']

[{'coord': {'lon': -95.38, 'lat': 46.52},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597058058,
   'sunset': 1597109964},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'main': {'temp': 12.89,
   'feels_like': 12.74,
   'temp_min': 12.78,
   'temp_max': 13,
   'pressure': 1015,
   'humidity': 100},
  'visibility': 10000,
  'wind': {'speed': 1.5, 'deg': 270},
  'clouds': {'all': 1},
  'dt': 1597065322,
  'id': 5039192,
  'name': 'New York Mills'},
 {'coord': {'lon': -87.65, 'lat': 41.85},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597056852,
   'sunset': 1597107461},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04d'}],
  'main': {'temp': 25.16,
   'feels_like': 26.67,
   'temp_min': 24.44,
   'temp_max': 26.11,
   'pressure': 1014,
   'humidity': 83},
  'visibility': 10000,
  'wind': {'speed': 4.6, 'deg': 180},
  'clouds': {'all': 75},
  'dt': 1597065318,
  'id': 4887398,
  'name': 'Chicago'},
 {'coord': {'lon': -122.42, 'lat': 37.77},
  'sys': {'country': 'US',
   'timezone': -25200,
   'sunrise': 1597065689,
   'sunset': 1597115311},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04n'}],
  'main': {'temp': 13.24,
   'feels_like': 11.78,
   'temp_min': 12.22,
   'temp_max': 15,
   'pressure': 1013,
   'humidity': 87},
  'visibility': 10000,
  'wind': {'speed': 2.6, 'deg': 290},
  'clouds': {'all': 75},
  'dt': 1597065338,
  'id': 5391959,
  'name': 'San Francisco'},
 {'coord': {'lon': -97.74, 'lat': 30.27},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597060522,
   'sunset': 1597108633},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04d'}],
  'main': {'temp': 26.11,
   'feels_like': 27.7,
   'temp_min': 25,
   'temp_max': 27,
   'pressure': 1019,
   'humidity': 78},
  'visibility': 10000,
  'wind': {'speed': 4.41, 'deg': 185},
  'clouds': {'all': 75},
  'dt': 1597065309,
  'id': 4671654,
  'name': 'Austin'},
 {'coord': {'lon': -118.17, 'lat': 34.02},
  'sys': {'country': 'US',
   'timezone': -25200,
   'sunrise': 1597065067,
   'sunset': 1597113894},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'main': {'temp': 15.76,
   'feels_like': 15.56,
   'temp_min': 13.89,
   'temp_max': 17.22,
   'pressure': 1014,
   'humidity': 82},
  'visibility': 10000,
  'wind': {'speed': 1.48, 'deg': 240},
  'clouds': {'all': 90},
  'dt': 1597065337,
  'id': 5344994,
  'name': 'East Los Angeles'},
 {'coord': {'lon': -80.84, 'lat': 35.23},
  'sys': {'country': 'US',
   'timezone': -14400,
   'sunrise': 1597055979,
   'sunset': 1597105065},
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02d'}],
  'main': {'temp': 24.24,
   'feels_like': 26.01,
   'temp_min': 22.22,
   'temp_max': 26,
   'pressure': 1020,
   'humidity': 65},
  'visibility': 10000,
  'wind': {'speed': 1, 'deg': 257},
  'clouds': {'all': 20},
  'dt': 1597065298,
  'id': 4460243,
  'name': 'Charlotte'},
 {'coord': {'lon': -95.36, 'lat': 29.76},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597059998,
   'sunset': 1597108015},
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02d'}],
  'main': {'temp': 27.59,
   'feels_like': 31.05,
   'temp_min': 26.11,
   'temp_max': 28.89,
   'pressure': 1018,
   'humidity': 88},
  'visibility': 10000,
  'wind': {'speed': 4.6, 'deg': 160},
  'clouds': {'all': 20},
  'dt': 1597065310,
  'id': 4699066,
  'name': 'Houston'},
 {'coord': {'lon': -97.03, 'lat': 33.12},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597060080,
   'sunset': 1597108734},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'main': {'temp': 27.22,
   'feels_like': 28.9,
   'temp_min': 26.67,
   'temp_max': 27.78,
   'pressure': 1017,
   'humidity': 69},
  'visibility': 10000,
  'wind': {'speed': 3.6, 'deg': 180},
  'clouds': {'all': 1},
  'dt': 1597065312,
  'id': 4704482,
  'name': 'Lake Dallas'},
 {'coord': {'lon': -98.24, 'lat': 27.76},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597060868,
   'sunset': 1597108527},
  'weather': [{'id': 701,
    'main': 'Mist',
    'description': 'mist',
    'icon': '50d'}],
  'main': {'temp': 23.51,
   'feels_like': 27.99,
   'temp_min': 23,
   'temp_max': 24,
   'pressure': 1017,
   'humidity': 100},
  'visibility': 1207,
  'wind': {'speed': 1.5, 'deg': 160},
  'clouds': {'all': 90},
  'dt': 1597065313,
  'id': 4726311,
  'name': 'San Diego'},
 {'coord': {'lon': -75.71, 'lat': 44.15},
  'sys': {'country': 'US',
   'timezone': -14400,
   'sunrise': 1597053678,
   'sunset': 1597104904},
  'weather': [{'id': 802,
    'main': 'Clouds',
    'description': 'scattered clouds',
    'icon': '03d'}],
  'main': {'temp': 23.74,
   'feels_like': 25.73,
   'temp_min': 23,
   'temp_max': 24.44,
   'pressure': 1016,
   'humidity': 88},
  'visibility': 10000,
  'wind': {'speed': 3.6, 'deg': 220},
  'clouds': {'all': 40},
  'dt': 1597065327,
  'id': 5131095,
  'name': 'Philadelphia'},
 {'coord': {'lon': -76.14, 'lat': 40.23},
  'sys': {'country': 'US',
   'timezone': -14400,
   'sunrise': 1597054289,
   'sunset': 1597104499},
  'weather': [{'id': 701,
    'main': 'Mist',
    'description': 'mist',
    'icon': '50d'}],
  'main': {'temp': 24.37,
   'feels_like': 29.33,
   'temp_min': 23,
   'temp_max': 27,
   'pressure': 1019,
   'humidity': 94},
  'visibility': 9656,
  'wind': {'speed': 0.68, 'deg': 310},
  'clouds': {'all': 40},
  'dt': 1597065330,
  'id': 5186794,
  'name': 'Denver'},
 {'coord': {'lon': -98.49, 'lat': 29.42},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597060780,
   'sunset': 1597108735},
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02d'}],
  'main': {'temp': 26.02,
   'feels_like': 29.59,
   'temp_min': 25,
   'temp_max': 27,
   'pressure': 1018,
   'humidity': 88},
  'visibility': 10000,
  'wind': {'speed': 3.1, 'deg': 160},
  'clouds': {'all': 20},
  'dt': 1597065313,
  'id': 4726206,
  'name': 'San Antonio'},
 {'coord': {'lon': -121.89, 'lat': 37.34},
  'sys': {'country': 'US',
   'timezone': -25200,
   'sunrise': 1597065610,
   'sunset': 1597115136},
  'weather': [{'id': 802,
    'main': 'Clouds',
    'description': 'scattered clouds',
    'icon': '03n'}],
  'main': {'temp': 15.46,
   'feels_like': 15.09,
   'temp_min': 14.44,
   'temp_max': 16.67,
   'pressure': 1014,
   'humidity': 67},
  'visibility': 10000,
  'wind': {'speed': 0.35, 'deg': 243},
  'clouds': {'all': 36},
  'dt': 1597065338,
  'id': 5392171,
  'name': 'San Jose'},
 {'coord': {'lon': -112.07, 'lat': 33.45},
  'sys': {'country': 'US',
   'timezone': -25200,
   'sunrise': 1597063659,
   'sunset': 1597112374},
  'weather': [{'id': 802,
    'main': 'Clouds',
    'description': 'scattered clouds',
    'icon': '03d'}],
  'main': {'temp': 28.92,
   'feels_like': 27.39,
   'temp_min': 27.78,
   'temp_max': 30,
   'pressure': 1010,
   'humidity': 23},
  'visibility': 10000,
  'wind': {'speed': 0.78, 'deg': 271},
  'clouds': {'all': 40},
  'dt': 1597065337,
  'id': 5308655,
  'name': 'Phoenix'},
 {'coord': {'lon': -74.08, 'lat': 40.73},
  'sys': {'country': 'US',
   'timezone': -14400,
   'sunrise': 1597053733,
   'sunset': 1597104066},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'main': {'temp': 26.26,
   'feels_like': 31.77,
   'temp_min': 24,
   'temp_max': 28,
   'pressure': 1018,
   'humidity': 94},
  'visibility': 10000,
  'wind': {'speed': 1.5, 'deg': 240},
  'clouds': {'all': 1},
  'dt': 1597065327,
  'id': 5099836,
  'name': 'Jersey City'},
 {'coord': {'lon': -111.91, 'lat': 33.41},
  'sys': {'country': 'US',
   'timezone': -25200,
   'sunrise': 1597063624,
   'sunset': 1597112332},
  'weather': [{'id': 802,
    'main': 'Clouds',
    'description': 'scattered clouds',
    'icon': '03d'}],
  'main': {'temp': 28.15,
   'feels_like': 26.89,
   'temp_min': 26.67,
   'temp_max': 30,
   'pressure': 1010,
   'humidity': 23},
  'visibility': 10000,
  'wind': {'speed': 0.21, 'deg': 318},
  'clouds': {'all': 40},
  'dt': 1597065337,
  'id': 5317058,
  'name': 'Tempe'},
 {'coord': {'lon': -122.33, 'lat': 47.61},
  'sys': {'country': 'US',
   'timezone': -25200,
   'sunrise': 1597064362,
   'sunset': 1597116595},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'main': {'temp': 13.15,
   'feels_like': 12.18,
   'temp_min': 11.67,
   'temp_max': 15,
   'pressure': 1021,
   'humidity': 82},
  'visibility': 10000,
  'wind': {'speed': 1.5, 'deg': 140},
  'clouds': {'all': 1},
  'dt': 1597065344,
  'id': 5809844,
  'name': 'Seattle'},
 {'coord': {'lon': -83, 'lat': 39.96},
  'sys': {'country': 'US',
   'timezone': -14400,
   'sunrise': 1597055969,
   'sunset': 1597106112},
  'weather': [{'id': 802,
    'main': 'Clouds',
    'description': 'scattered clouds',
    'icon': '03d'}],
  'main': {'temp': 23.3,
   'feels_like': 25.17,
   'temp_min': 21.67,
   'temp_max': 24.44,
   'pressure': 1018,
   'humidity': 78},
  'visibility': 10000,
  'wind': {'speed': 2.1, 'deg': 150},
  'clouds': {'all': 40},
  'dt': 1597065302,
  'id': 4509177,
  'name': 'Columbus'},
 {'coord': {'lon': -96.95, 'lat': 32.81},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597060091,
   'sunset': 1597108684},
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02d'}],
  'main': {'temp': 26.77,
   'feels_like': 27.34,
   'temp_min': 26,
   'temp_max': 27.78,
   'pressure': 1017,
   'humidity': 74},
  'visibility': 10000,
  'wind': {'speed': 5.7, 'deg': 180},
  'clouds': {'all': 20},
  'dt': 1597065310,
  'id': 4700168,
  'name': 'Irving'},
 {'coord': {'lon': -96.7, 'lat': 33.02},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597060011,
   'sunset': 1597108645},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'main': {'temp': 26.91,
   'feels_like': 28.44,
   'temp_min': 26.11,
   'temp_max': 27.78,
   'pressure': 1017,
   'humidity': 69},
  'visibility': 10000,
  'wind': {'speed': 3.6, 'deg': 190},
  'clouds': {'all': 5},
  'dt': 1597065313,
  'id': 4719457,
  'name': 'Plano'}]

In [7]:
weather = response.json()['list']
df1 = json_normalize(weather)
df1

C:\Users\Matt\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

,weather,visibility,dt,id,name,coord.lon,coord.lat,sys.country,sys.timezone,sys.sunrise,sys.sunset,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all
0,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597065322,5039192,New York Mills,-95.38,46.52,US,-18000,1597058058,1597109964,12.89,12.74,12.78,13.00,1015,100,1.50,270,1
1,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,1597065318,4887398,Chicago,-87.65,41.85,US,-18000,1597056852,1597107461,25.16,26.67,24.44,26.11,1014,83,4.60,180,75
2,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,1597065338,5391959,San Francisco,-122.42,37.77,US,-25200,1597065689,1597115311,13.24,11.78,12.22,15.00,1013,87,2.60,290,75
3,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,1597065309,4671654,Austin,-97.74,30.27,US,-18000,1597060522,1597108633,26.11,27.70,25.00,27.00,1019,78,4.41,185,75
4,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,1597065337,5344994,East Los Angeles,-118.17,34.02,US,-25200,1597065067,1597113894,15.76,15.56,13.89,17.22,1014,82,1.48,240,90
5,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597065298,4460243,Charlotte,-80.84,35.23,US,-14400,1597055979,1597105065,24.24,26.01,22.22,26.00,1020,65,1.00,257,20
6,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597065310,4699066,Houston,-95.36,29.76,US,-18000,1597059998,1597108015,27.59,31.05,26.11,28.89,1018,88,4.60,160,20
7,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597065312,4704482,Lake Dallas,-97.03,33.12,US,-18000,1597060080,1597108734,27.22,28.90,26.67,27.78,1017,69,3.60,180,1
8,"[{'id': 701, 'main': 'Mist', 'description': 'm...",1207,1597065313,4726311,San Diego,-98.24,27.76,US,-18000,1597060868,1597108527,23.51,27.99,23.00,24.00,1017,100,1.50,160,90
9,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597065327,5131095,Philadelphia,-75.71,44.15,US,-14400,1597053678,1597104904,23.74,25.73,23.00,24.44,1016,88,3.60,220,40
10,"[{'id': 701, 'main': 'Mist', 'description': 'm...",9656,1597065330,5186794,Denver,-76.14,40.23,US,-14400,1597054289,1597104499,24.37,29.33,23.00,27.00,1019,94,0.68,310,40
11,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597065313,4726206,San Antonio,-98.49,29.42,US,-18000,1597060780,1597108735,26.02,29.59,25.00,27.00,1018,88,3.10,160,20
12,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597065338,5392171,San Jose,-121.89,37.34,US,-25200,1597065610,1597115136,15.46,15.09,14.44,16.67,1014,67,0.35,243,36
13,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597065337,5308655,Phoenix,-112.07,33.45,US,-25200,1597063659,1597112374,28.92,27.39,27.78,30.00,1010,23,0.78,271,40
14,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597065327,5099836,Jersey City,-74.08,40.73,US,-14400,1597053733,1597104066,26.26,31.77,24.00,28.00,1018,94,1.50,240,1
15,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597065337,5317058,Tempe,-111.91,33.41,US,-25200,1597063624,1597112332,28.15,26.89,26.67,30.00,1010,23,0.21,318,40
16,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597065344,5809844,Seattle,-122.33,47.61,US,-25200,1597064362,1597116595,13.15,12.18,11.67,15.00,1021,82,1.50,140,1
17,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597065302,4509177,Columbus,-83.00,39.96,US,-14400,1597055969,1597106112,23.30,25.17,21.67,24.44,1018,78,2.10,150,40
18,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597065310,4700168,Irving,-96.95,32.81,US,-18000,1597060091,1597108684,26.77,27.34,26.00,27.78,1017,74,5.70,180,20
19,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597065313,4719457,Plano,-96.70,33.02,US,-18000,1597060011,1597108645,26.91,28.44,26.11,27.78,1017,69,3.60,190,5

In [10]:
# DataFrame to CSV

df1.to_csv ("weatherfinal.csv", index = False, header=True)

#gd_t50_df.to_csv ("glassdoorfinal.csv", index = False, header=True)

# link    https://www.datacourses.com/?s=DataFrame+to+csv  or  https://datatofish.com/export-dataframe-to-csv/

In [9]:
print(df1)

                                              weather  visibility          dt  \
0   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597065322
1   [{'id': 803, 'main': 'Clouds', 'description': ...       10000  1597065318
2   [{'id': 803, 'main': 'Clouds', 'description': ...       10000  1597065338
3   [{'id': 803, 'main': 'Clouds', 'description': ...       10000  1597065309
4   [{'id': 804, 'main': 'Clouds', 'description': ...       10000  1597065337
5   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597065298
6   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597065310
7   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597065312
8   [{'id': 701, 'main': 'Mist', 'description': 'm...        1207  1597065313
9   [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597065327
10  [{'id': 701, 'main': 'Mist', 'description': 'm...        9656  1597065330
11  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597065313
12  [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597065338
13  [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597065337
14  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597065327
15  [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597065337
16  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597065344
17  [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597065302
18  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597065310
19  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597065313

         id              name  coord.lon  coord.lat sys.country  sys.timezone  \
0   5039192    New York Mills     -95.38      46.52          US        -18000
1   4887398           Chicago     -87.65      41.85          US        -18000
2   5391959     San Francisco    -122.42      37.77          US        -25200
3   4671654            Austin     -97.74      30.27          US        -18000
4   5344994  East Los Angeles    -118.17      34.02          US        -25200
5   4460243         Charlotte     -80.84      35.23          US        -14400
6   4699066           Houston     -95.36      29.76          US        -18000
7   4704482       Lake Dallas     -97.03      33.12          US        -18000
8   4726311         San Diego     -98.24      27.76          US        -18000
9   5131095      Philadelphia     -75.71      44.15          US        -14400
10  5186794            Denver     -76.14      40.23          US        -14400
11  4726206       San Antonio     -98.49      29.42          US        -18000
12  5392171          San Jose    -121.89      37.34          US        -25200
13  5308655           Phoenix    -112.07      33.45          US        -25200
14  5099836       Jersey City     -74.08      40.73          US        -14400
15  5317058             Tempe    -111.91      33.41          US        -25200
16  5809844           Seattle    -122.33      47.61          US        -25200
17  4509177          Columbus     -83.00      39.96          US        -14400
18  4700168            Irving     -96.95      32.81          US        -18000
19  4719457             Plano     -96.70      33.02          US        -18000

    sys.sunrise  sys.sunset  main.temp  main.feels_like  main.temp_min  \
0    1597058058  1597109964      12.89            12.74          12.78
1    1597056852  1597107461      25.16            26.67          24.44
2    1597065689  1597115311      13.24            11.78          12.22
3    1597060522  1597108633      26.11            27.70          25.00
4    1597065067  1597113894      15.76            15.56          13.89
5    1597055979  1597105065      24.24            26.01          22.22
6    1597059998  1597108015      27.59            31.05          26.11
7    1597060080  1597108734      27.22            28.90          26.67
8    1597060868  1597108527      23.51            27.99          23.00
9    1597053678  1597104904      23.74            25.73          23.00
10   1597054289  1597104499      24.37            29.33          23.00
11   1597060780  1597108735      26.02            29.59          25.00
12   1597065610  1597115136      15.46            15.09          14.44
13   1597063659  1597112374      28.92            27.39          27.78
14   1597053733  1597104066      26.26            31.77          24.00
15   1597063624  1597112332      28.15            26.89          26.67
16   1597064362  1597116595      13.15            12.18          11.67
17   1597055969  1597106112      23.30            25.17          21.67
18   1597060091  1597108684      26.77            27.34          26.00
19   1597060011  1597108645      26.91            28.44          26.11

    main.temp_max  main.pressure  main.humidity  wind.speed  wind.deg  \
0           13.00           1015            100        1.50       270
1           26.11           1014             83        4.60       180
2           15.00           1013             87        2.60       290
3           27.00           1019             78        4.41       185
4           17.22           1014             82        1.48       240
5           26.00           1020             65        1.00       257
6           28.89           1018             88        4.60       160
7           27.78           1017             69        3.60       180
8           24.00           1017            100        1.50       160
9           24.44           1016             88        3.60       220
10          27.00           1019             94        0.68       310
11          27.00           1018             88        3.10       160
12          16.67           1014             67        0.35       243
13          30.00           1010             23        0.78       271
14          28.00           1018             94        1.50       240
15          30.00           1010             23        0.21       318
16          15.00           1021             82        1.50       140
17          24.44           1018             78        2.10       150
18          27.78           1017             74        5.70       180
19          27.78           1017             69        3.60       190

    clouds.all
0            1
1           75
2           75
3           75
4           90
5           20
6           20
7            1
8           90
9           40
10          40
11          20
12          36
13          40
14           1
15          40
16           1
17          40
18          20
19           5

In [10]:
type(list)

type

In [11]:
#SECOND METHOD TO DO IT
# df=pd.DataFrame.from_dict(response.json()['list'])
# df.head

In [12]:
url="https://api.openweathermap.org/data/2.5/group?id=5780993,5393015,5345860,4160021,4776222,5392423,5331835,4259418,4691930,5400075,5375480,5313457,5380748,5110302,5341145,4762894,5367929,5386834,5372223,5378538&appid=3a9fa2731241e7ab03bbf05564b12ba4&units=metric"

In [13]:
response = requests.get(url)
response.json()

{'cnt': 20,
 'list': [{'coord': {'lon': -111.89, 'lat': 40.76},
   'sys': {'country': 'US',
    'timezone': -21600,
    'sunrise': 1596976350,
    'sunset': 1597026813},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 30.45,
    'feels_like': 26.83,
    'temp_min': 27.78,
    'temp_max': 33,
    'pressure': 1016,
    'humidity': 10},
   'visibility': 10000,
   'wind': {'speed': 1.5, 'deg': 70},
   'clouds': {'all': 20},
   'dt': 1597025748,
   'id': 5780993,
   'name': 'Salt Lake City'},
  {'coord': {'lon': -121.96, 'lat': 37.35},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1596979174,
    'sunset': 1597028822},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 26.45,
    'feels_like': 23.46,
    'temp_min': 22.78,
    'temp_max': 30.56,
    'pressure': 1011,
    'humidity': 44},
   'visibility': 10000,
   'wind': {'speed': 5.7, 'deg': 320},
   'clouds': {'all': 20},
   'dt': 1597025738,
   'id': 5393015,
   'name': 'Santa Clara'},
  {'coord': {'lon': -118.42, 'lat': 33.92},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1596978693,
    'sunset': 1597027605},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 19.31,
    'feels_like': 15.98,
    'temp_min': 18.33,
    'temp_max': 21,
    'pressure': 1013,
    'humidity': 68},
   'visibility': 10000,
   'wind': {'speed': 6.2, 'deg': 260},
   'clouds': {'all': 20},
   'dt': 1597025738,
   'id': 5345860,
   'name': 'El Segundo'},
  {'coord': {'lon': -81.66, 'lat': 30.33},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1596970219,
    'sunset': 1597018435},
   'weather': [{'id': 501,
     'main': 'Rain',
     'description': 'moderate rain',
     'icon': '10n'},
    {'id': 211,
     'main': 'Thunderstorm',
     'description': 'thunderstorm',
     'icon': '11n'}],
   'main': {'temp': 25.95,
    'feels_like': 22,
    'temp_min': 23,
    'temp_max': 28.89,
    'pressure': 1022,
    'humidity': 69},
   'visibility': 10000,
   'wind': {'speed': 10.8, 'deg': 360},
   'clouds': {'all': 90},
   'dt': 1597025690,
   'id': 4160021,
   'name': 'Jacksonville'},
  {'coord': {'lon': -76.29, 'lat': 36.85},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1596968263,
    'sunset': 1597017814},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'main': {'temp': 25.3,
    'feels_like': 28.64,
    'temp_min': 24,
    'temp_max': 26.11,
    'pressure': 1020,
    'humidity': 83},
   'visibility': 10000,
   'wind': {'speed': 2.1, 'deg': 160},
   'clouds': {'all': 1},
   'dt': 1597025713,
   'id': 4776222,
   'name': 'Norfolk'},
  {'coord': {'lon': -122.33, 'lat': 37.56},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1596979239,
    'sunset': 1597028935},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 22.1,
    'feels_like': 18.31,
    'temp_min': 15.56,
    'temp_max': 25,
    'pressure': 1012,
    'humidity': 72},
   'visibility': 10000,
   'wind': {'speed': 8.7, 'deg': 310},
   'clouds': {'all': 20},
   'dt': 1597025738,
   'id': 5392423,
   'name': 'San Mateo'},
  {'coord': {'lon': -118.31, 'lat': 34.18},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1596978639,
    'sunset': 1597027605},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 25.71,
    'feels_like': 23.3,
    'temp_min': 21.67,
    'temp_max': 30,
    'pressure': 1012,
    'humidity': 41},
   'visibility': 10000,
   'wind': {'speed': 4.1, 'deg': 150},
   'clouds': {'all': 1},
   'dt': 1597025737,
   'id': 5331835,
   'name': 'Burbank'},
  {'coord': {'lon': -86.16, 'lat': 39.77},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1596970293,
    'sunset': 1597020521},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'main': {'temp': 25.33,
    'feels_like': 26.42,
    'temp_min': 24.44,
    'temp_max': 26.11,
    'pressure': 1017,
    'humidity': 65},
   'visibility': 10000,
   'wind': {'speed': 2.6, 'deg': 150},
   'clouds': {'all': 1},
   'dt': 1597025695,
   'id': 4259418,
   'name': 'Indianapolis'},
  {'coord': {'lon': -97.32, 'lat': 32.73},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1596973746,
    'sunset': 1597022424},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'main': {'temp': 33.3,
    'feels_like': 32.96,
    'temp_min': 31.67,
    'temp_max': 35,
    'pressure': 1015,
    'humidity': 43},
   'visibility': 10000,
   'wind': {'speed': 5.1, 'deg': 150},
   'clouds': {'all': 1},
   'dt': 1597025710,
   'id': 4691930,
   'name': 'Fort Worth'},
  {'coord': {'lon': -122.04, 'lat': 37.37},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1596979191,
    'sunset': 1597028844},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 25.35,
    'feels_like': 22.04,
    'temp_min': 22.22,
    'temp_max': 27.78,
    'pressure': 1011,
    'humidity': 44},
   'visibility': 10000,
   'wind': {'speed': 5.7, 'deg': 320},
   'clouds': {'all': 20},
   'dt': 1597025739,
   'id': 5400075,
   'name': 'Sunnyvale'},
  {'coord': {'lon': -122.08, 'lat': 37.39},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1596979198,
    'sunset': 1597028856},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 25.18,
    'feels_like': 21.83,
    'temp_min': 22.22,
    'temp_max': 27.22,
    'pressure': 1011,
    'humidity': 44},
   'visibility': 10000,
   'wind': {'speed': 5.7, 'deg': 320},
   'clouds': {'all': 20},
   'dt': 1597025738,
   'id': 5375480,
   'name': 'Mountain View'},
  {'coord': {'lon': -111.9, 'lat': 33.51},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1596977169,
    'sunset': 1597025999},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 40.72,
    'feels_like': 36.47,
    'temp_min': 40,
    'temp_max': 41.11,
    'pressure': 1009,
    'humidity': 9},
   'visibility': 10000,
   'wind': {'speed': 3.6, 'deg': 240},
   'clouds': {'all': 1},
   'dt': 1597025737,
   'id': 5313457,
   'name': 'Scottsdale'},
  {'coord': {'lon': -122.14, 'lat': 37.44},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1596979207,
    'sunset': 1597028876},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 24.43,
    'feels_like': 21.9,
    'temp_min': 22.22,
    'temp_max': 26.67,
    'pressure': 1012,
    'humidity': 50},
   'visibility': 10000,
   'wind': {'speed': 5.1, 'deg': 350},
   'clouds': {'all': 5},
   'dt': 1597025738,
   'id': 5380748,
   'name': 'Palo Alto'},
  {'coord': {'lon': -73.95, 'lat': 40.65},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1596967252,
    'sunset': 1597017701},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'main': {'temp': 25.81,
    'feels_like': 28.43,
    'temp_min': 23.89,
    'temp_max': 27.22,
    'pressure': 1018,
    'humidity': 74},
   'visibility': 10000,
   'wind': {'speed': 2.1, 'deg': 230},
   'clouds': {'all': 75},
   'dt': 1597025728,
   'id': 5110302,
   'name': 'Brooklyn'},
  {'coord': {'lon': -122.03, 'lat': 37.32},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1596979194,
    'sunset': 1597028836},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 25.68,
    'feels_like': 22.46,
    'temp_min': 22.78,
    'temp_max': 29,
    'pressure': 1011,
    'humidity': 44},
   'visibility': 10000,
   'wind': {'speed': 5.7, 'deg': 320},
   'clouds': {'all': 20},
   'dt': 1597025737,
   'id': 5341145,
   'name': 'Cupertino'},
  {'coord': {'lon': -76.35, 'lat': 37.03},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1596968257,
    'sunset': 1597017848},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'main': {'temp': 25.96,
    'feels_like': 28.95,
    'temp_min': 25,
    'temp_max': 27,
    'pressure': 1019,
    'humidity': 83},
   'visibility': 10000,
   'wind': {'speed': 3.1, 'deg': 120},
   'clouds': {'all': 1},
   'dt': 1597025711,
   'id': 4762894,
   'name': 'Hampton'},
  {'coord': {'lon': -118.19, 'lat': 33.77},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1596978653,
    'sunset': 1597027534},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 21.41,
    'feels_like': 19.23,
    'temp_min': 18.89,
    'temp_max': 24.44,
    'pressure': 1012,
    'humidity': 60},
   'visibility': 10000,
   'wind': {'speed': 4.6, 'deg': 290},
   'clouds': {'all': 1},
   'dt': 1597025738,
   'id': 5367929,
   'name': 'Long Beach'},
  {'coord': {'lon': -122.24, 'lat': 37.49},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1596979225,
    'sunset': 1597028905},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 23.59,
    'feels_like': 20.81,
    'temp_min': 21,
    'temp_max': 25,
    'pressure': 1012,
    'humidity': 50},
   'visibility': 10000,
   'wind': {'speed': 5.1, 'deg': 350},
   'clouds': {'all': 5},
   'dt': 1597025738,
   'id': 5386834,
   'name': 'Redwood City'},
  {'coord': {'lon': -122.18, 'lat': 37.45},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1596979216,
    'sunset': 1597028886},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 24.09,
    'feels_like': 21.46,
    'temp_min': 22.22,
    'temp_max': 26.67,
    'pressure': 1012,
    'humidity': 50},
   'visibility': 10000,
   'wind': {'speed': 5.1, 'deg': 350},
   'clouds': {'all': 5},
   'dt': 1597025738,
   'id': 5372223,
   'name': 'Menlo Park'},
  {'coord': {'lon': -122.27, 'lat': 37.8},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1596979197,
    'sunset': 1597028948},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 17.87,
    'feels_like': 13.33,
    'temp_min': 14.44,
    'temp_max': 23.33,
    'pressure': 1012,
    'humidity': 72},
   'visibility': 10000,
   'wind': {'speed': 7.7, 'deg': 300},
   'clouds': {'all': 20},
   'dt': 1597025738,
   'id': 5378538,
   'name': 'Oakland'}]}

In [14]:
weather = response.json()['list']
df2= json_normalize(weather)
df2

#df=pd.DataFrame.from_dict(response.json()['list'])
#df

C:\Users\sakon\anaconda3.1\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

,weather,visibility,dt,id,name,coord.lon,coord.lat,sys.country,sys.timezone,sys.sunrise,sys.sunset,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all
0,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025748,5780993,Salt Lake City,-111.89,40.76,US,-21600,1596976350,1597026813,30.45,26.83,27.78,33.00,1016,10,1.5,70,20
1,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025738,5393015,Santa Clara,-121.96,37.35,US,-25200,1596979174,1597028822,26.45,23.46,22.78,30.56,1011,44,5.7,320,20
2,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025738,5345860,El Segundo,-118.42,33.92,US,-25200,1596978693,1597027605,19.31,15.98,18.33,21.00,1013,68,6.2,260,20
3,"[{'id': 501, 'main': 'Rain', 'description': 'm...",10000,1597025690,4160021,Jacksonville,-81.66,30.33,US,-14400,1596970219,1597018435,25.95,22.00,23.00,28.89,1022,69,10.8,360,90
4,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025713,4776222,Norfolk,-76.29,36.85,US,-14400,1596968263,1597017814,25.30,28.64,24.00,26.11,1020,83,2.1,160,1
5,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025738,5392423,San Mateo,-122.33,37.56,US,-25200,1596979239,1597028935,22.10,18.31,15.56,25.00,1012,72,8.7,310,20
6,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025737,5331835,Burbank,-118.31,34.18,US,-25200,1596978639,1597027605,25.71,23.30,21.67,30.00,1012,41,4.1,150,1
7,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025695,4259418,Indianapolis,-86.16,39.77,US,-14400,1596970293,1597020521,25.33,26.42,24.44,26.11,1017,65,2.6,150,1
8,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025710,4691930,Fort Worth,-97.32,32.73,US,-18000,1596973746,1597022424,33.30,32.96,31.67,35.00,1015,43,5.1,150,1
9,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025739,5400075,Sunnyvale,-122.04,37.37,US,-25200,1596979191,1597028844,25.35,22.04,22.22,27.78,1011,44,5.7,320,20
10,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025738,5375480,Mountain View,-122.08,37.39,US,-25200,1596979198,1597028856,25.18,21.83,22.22,27.22,1011,44,5.7,320,20
11,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025737,5313457,Scottsdale,-111.90,33.51,US,-25200,1596977169,1597025999,40.72,36.47,40.00,41.11,1009,9,3.6,240,1
12,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025738,5380748,Palo Alto,-122.14,37.44,US,-25200,1596979207,1597028876,24.43,21.90,22.22,26.67,1012,50,5.1,350,5
13,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,1597025728,5110302,Brooklyn,-73.95,40.65,US,-14400,1596967252,1597017701,25.81,28.43,23.89,27.22,1018,74,2.1,230,75
14,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025737,5341145,Cupertino,-122.03,37.32,US,-25200,1596979194,1597028836,25.68,22.46,22.78,29.00,1011,44,5.7,320,20
15,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025711,4762894,Hampton,-76.35,37.03,US,-14400,1596968257,1597017848,25.96,28.95,25.00,27.00,1019,83,3.1,120,1
16,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025738,5367929,Long Beach,-118.19,33.77,US,-25200,1596978653,1597027534,21.41,19.23,18.89,24.44,1012,60,4.6,290,1
17,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025738,5386834,Redwood City,-122.24,37.49,US,-25200,1596979225,1597028905,23.59,20.81,21.00,25.00,1012,50,5.1,350,5
18,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025738,5372223,Menlo Park,-122.18,37.45,US,-25200,1596979216,1597028886,24.09,21.46,22.22,26.67,1012,50,5.1,350,5
19,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025738,5378538,Oakland,-122.27,37.80,US,-25200,1596979197,1597028948,17.87,13.33,14.44,23.33,1012,72,7.7,300,20

In [15]:
#DataFrame to CSV
df2.to_csv (r'C:\Users\sakon\Desktop\MASTER CSU\CWRU_BOOTCAMP\1.Hmw\12.Project2\Project2Group2\export_dataframe2.csv', index = False, header=True)

In [16]:
print(df2)

                                              weather  visibility          dt  \
0   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597025748
1   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597025738
2   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597025738
3   [{'id': 501, 'main': 'Rain', 'description': 'm...       10000  1597025690
4   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597025713
5   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597025738
6   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597025737
7   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597025695
8   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597025710
9   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597025739
10  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597025738
11  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597025737
12  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597025738
13  [{'id': 803, 'main': 'Clouds', 'description': ...       10000  1597025728
14  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597025737
15  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597025711
16  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597025738
17  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597025738
18  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597025738
19  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597025738

         id            name  coord.lon  coord.lat sys.country  sys.timezone  \
0   5780993  Salt Lake City    -111.89      40.76          US        -21600
1   5393015     Santa Clara    -121.96      37.35          US        -25200
2   5345860      El Segundo    -118.42      33.92          US        -25200
3   4160021    Jacksonville     -81.66      30.33          US        -14400
4   4776222         Norfolk     -76.29      36.85          US        -14400
5   5392423       San Mateo    -122.33      37.56          US        -25200
6   5331835         Burbank    -118.31      34.18          US        -25200
7   4259418    Indianapolis     -86.16      39.77          US        -14400
8   4691930      Fort Worth     -97.32      32.73          US        -18000
9   5400075       Sunnyvale    -122.04      37.37          US        -25200
10  5375480   Mountain View    -122.08      37.39          US        -25200
11  5313457      Scottsdale    -111.90      33.51          US        -25200
12  5380748       Palo Alto    -122.14      37.44          US        -25200
13  5110302        Brooklyn     -73.95      40.65          US        -14400
14  5341145       Cupertino    -122.03      37.32          US        -25200
15  4762894         Hampton     -76.35      37.03          US        -14400
16  5367929      Long Beach    -118.19      33.77          US        -25200
17  5386834    Redwood City    -122.24      37.49          US        -25200
18  5372223      Menlo Park    -122.18      37.45          US        -25200
19  5378538         Oakland    -122.27      37.80          US        -25200

    sys.sunrise  sys.sunset  main.temp  main.feels_like  main.temp_min  \
0    1596976350  1597026813      30.45            26.83          27.78
1    1596979174  1597028822      26.45            23.46          22.78
2    1596978693  1597027605      19.31            15.98          18.33
3    1596970219  1597018435      25.95            22.00          23.00
4    1596968263  1597017814      25.30            28.64          24.00
5    1596979239  1597028935      22.10            18.31          15.56
6    1596978639  1597027605      25.71            23.30          21.67
7    1596970293  1597020521      25.33            26.42          24.44
8    1596973746  1597022424      33.30            32.96          31.67
9    1596979191  1597028844      25.35            22.04          22.22
10   1596979198  1597028856      25.18            21.83          22.22
11   1596977169  1597025999      40.72            36.47          40.00
12   1596979207  1597028876      24.43            21.90          22.22
13   1596967252  1597017701      25.81            28.43          23.89
14   1596979194  1597028836      25.68            22.46          22.78
15   1596968257  1597017848      25.96            28.95          25.00
16   1596978653  1597027534      21.41            19.23          18.89
17   1596979225  1597028905      23.59            20.81          21.00
18   1596979216  1597028886      24.09            21.46          22.22
19   1596979197  1597028948      17.87            13.33          14.44

    main.temp_max  main.pressure  main.humidity  wind.speed  wind.deg  \
0           33.00           1016             10         1.5        70
1           30.56           1011             44         5.7       320
2           21.00           1013             68         6.2       260
3           28.89           1022             69        10.8       360
4           26.11           1020             83         2.1       160
5           25.00           1012             72         8.7       310
6           30.00           1012             41         4.1       150
7           26.11           1017             65         2.6       150
8           35.00           1015             43         5.1       150
9           27.78           1011             44         5.7       320
10          27.22           1011             44         5.7       320
11          41.11           1009              9         3.6       240
12          26.67           1012             50         5.1       350
13          27.22           1018             74         2.1       230
14          29.00           1011             44         5.7       320
15          27.00           1019             83         3.1       120
16          24.44           1012             60         4.6       290
17          25.00           1012             50         5.1       350
18          26.67           1012             50         5.1       350
19          23.33           1012             72         7.7       300

    clouds.all
0           20
1           20
2           20
3           90
4            1
5           20
6            1
7            1
8            1
9           20
10          20
11           1
12           5
13          75
14          20
15           1
16           1
17           5
18           5
19          20

In [17]:
url="https://api.openweathermap.org/data/2.5/group?id=5808079,4499379,4722625,5416541,4890119,5350159,5123853,5393212,4671240&appid=3a9fa2731241e7ab03bbf05564b12ba4&units=metric"

In [18]:
response = requests.get(url)
response.json()

{'cnt': 9,
 'list': [{'coord': {'lon': -122.12, 'lat': 47.67},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1596977822,
    'sunset': 1597030251},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 22.04,
    'feels_like': 20.49,
    'temp_min': 20.56,
    'temp_max': 23.33,
    'pressure': 1022,
    'humidity': 49},
   'visibility': 10000,
   'wind': {'speed': 2.6, 'deg': 351},
   'clouds': {'all': 0},
   'dt': 1597025749,
   'id': 5808079,
   'name': 'Redmond'},
  {'coord': {'lon': -77.94, 'lat': 34.23},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1596968940,
    'sunset': 1597017928},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'main': {'temp': 24.79,
    'feels_like': 27.26,
    'temp_min': 23.89,
    'temp_max': 26,
    'pressure': 1020,
    'humidity': 83},
   'visibility': 10000,
   'wind': {'speed': 2.96, 'deg': 214},
   'clouds': {'all': 1},
   'dt': 1597025699,
   'id': 4499379,
   'name': 'Wilmington'},
  {'coord': {'lon': -96.73, 'lat': 32.95},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1596973583,
    'sunset': 1597022304},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'main': {'temp': 32.57,
    'feels_like': 31.17,
    'temp_min': 31.67,
    'temp_max': 33.33,
    'pressure': 1015,
    'humidity': 43},
   'visibility': 10000,
   'wind': {'speed': 6.2, 'deg': 140},
   'clouds': {'all': 5},
   'dt': 1597025711,
   'id': 4722625,
   'name': 'Richardson'},
  {'coord': {'lon': -104.88, 'lat': 39.58},
   'sys': {'country': 'US',
    'timezone': -21600,
    'sunrise': 1596974812,
    'sunset': 1597024987},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'main': {'temp': 26.98,
    'feels_like': 22.72,
    'temp_min': 24.44,
    'temp_max': 30.56,
    'pressure': 998,
    'humidity': 18},
   'visibility': 10000,
   'wind': {'speed': 3.38, 'deg': 179},
   'clouds': {'all': 32},
   'dt': 1597025740,
   'id': 5416541,
   'name': 'Centennial'},
  {'coord': {'lon': -88.01, 'lat': 41.81},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1596970481,
    'sunset': 1597021221},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'main': {'temp': 26.69,
    'feels_like': 30.78,
    'temp_min': 24.44,
    'temp_max': 27.78,
    'pressure': 1015,
    'humidity': 73},
   'visibility': 10000,
   'wind': {'speed': 0.45, 'deg': 46},
   'clouds': {'all': 48},
   'dt': 1597025715,
   'id': 4890119,
   'name': 'Downers Grove'},
  {'coord': {'lon': -122.27, 'lat': 37.56},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1596979225,
    'sunset': 1597028920},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 23.25,
    'feels_like': 20.37,
    'temp_min': 19,
    'temp_max': 26,
    'pressure': 1012,
    'humidity': 50},
   'visibility': 10000,
   'wind': {'speed': 5.1, 'deg': 350},
   'clouds': {'all': 5},
   'dt': 1597025738,
   'id': 5350159,
   'name': 'Foster City'},
  {'coord': {'lon': -73.72, 'lat': 40.77},
   'sys': {'country': 'US',
    'timezone': -14400,
    'sunrise': 1596967182,
    'sunset': 1597017661},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'main': {'temp': 24.14,
    'feels_like': 24.16,
    'temp_min': 23.33,
    'temp_max': 25.56,
    'pressure': 1018,
    'humidity': 88},
   'visibility': 10000,
   'wind': {'speed': 6.7, 'deg': 180},
   'clouds': {'all': 75},
   'dt': 1597025728,
   'id': 5123853,
   'name': 'Lake Success'},
  {'coord': {'lon': -118.49, 'lat': 34.02},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1596978699,
    'sunset': 1597027632},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 19.55,
    'feels_like': 19.49,
    'temp_min': 18.33,
    'temp_max': 22,
    'pressure': 1013,
    'humidity': 77},
   'visibility': 10000,
   'wind': {'speed': 2.6, 'deg': 230},
   'clouds': {'all': 1},
   'dt': 1597025738,
   'id': 5393212,
   'name': 'Santa Monica'},
  {'coord': {'lon': -97.11, 'lat': 32.74},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1596973695,
    'sunset': 1597022374},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'main': {'temp': 33.23,
    'feels_like': 33.09,
    'temp_min': 32.78,
    'temp_max': 34.44,
    'pressure': 1015,
    'humidity': 36},
   'visibility': 10000,
   'wind': {'speed': 3.1, 'deg': 140},
   'clouds': {'all': 5},
   'dt': 1597025709,
   'id': 4671240,
   'name': 'Arlington'}]}

In [19]:
weather = response.json()['list']
df3 = json_normalize(weather)
df3

#df=pd.DataFrame.from_dict(response.json()['list'])
#df

C:\Users\sakon\anaconda3.1\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

,weather,visibility,dt,id,name,coord.lon,coord.lat,sys.country,sys.timezone,sys.sunrise,sys.sunset,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all
0,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025749,5808079,Redmond,-122.12,47.67,US,-25200,1596977822,1597030251,22.04,20.49,20.56,23.33,1022,49,2.60,351,0
1,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025699,4499379,Wilmington,-77.94,34.23,US,-14400,1596968940,1597017928,24.79,27.26,23.89,26.00,1020,83,2.96,214,1
2,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025711,4722625,Richardson,-96.73,32.95,US,-18000,1596973583,1597022304,32.57,31.17,31.67,33.33,1015,43,6.20,140,5
3,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597025740,5416541,Centennial,-104.88,39.58,US,-21600,1596974812,1597024987,26.98,22.72,24.44,30.56,998,18,3.38,179,32
4,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597025715,4890119,Downers Grove,-88.01,41.81,US,-18000,1596970481,1597021221,26.69,30.78,24.44,27.78,1015,73,0.45,46,48
5,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025738,5350159,Foster City,-122.27,37.56,US,-25200,1596979225,1597028920,23.25,20.37,19.00,26.00,1012,50,5.10,350,5
6,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,1597025728,5123853,Lake Success,-73.72,40.77,US,-14400,1596967182,1597017661,24.14,24.16,23.33,25.56,1018,88,6.70,180,75
7,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025738,5393212,Santa Monica,-118.49,34.02,US,-25200,1596978699,1597027632,19.55,19.49,18.33,22.00,1013,77,2.60,230,1
8,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025709,4671240,Arlington,-97.11,32.74,US,-18000,1596973695,1597022374,33.23,33.09,32.78,34.44,1015,36,3.10,140,5

In [20]:
df3.to_csv (r'C:\Users\sakon\Desktop\MASTER CSU\CWRU_BOOTCAMP\1.Hmw\12.Project2\Project2Group2\export_dataframe3.csv', index = False, header=True)

In [21]:
print(df3)

                                             weather  visibility          dt  \
0  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597025749
1  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597025699
2  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597025711
3  [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597025740
4  [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597025715
5  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597025738
6  [{'id': 803, 'main': 'Clouds', 'description': ...       10000  1597025728
7  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597025738
8  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597025709

        id           name  coord.lon  coord.lat sys.country  sys.timezone  \
0  5808079        Redmond    -122.12      47.67          US        -25200
1  4499379     Wilmington     -77.94      34.23          US        -14400
2  4722625     Richardson     -96.73      32.95          US        -18000
3  5416541     Centennial    -104.88      39.58          US        -21600
4  4890119  Downers Grove     -88.01      41.81          US        -18000
5  5350159    Foster City    -122.27      37.56          US        -25200
6  5123853   Lake Success     -73.72      40.77          US        -14400
7  5393212   Santa Monica    -118.49      34.02          US        -25200
8  4671240      Arlington     -97.11      32.74          US        -18000

   sys.sunrise  sys.sunset  main.temp  main.feels_like  main.temp_min  \
0   1596977822  1597030251      22.04            20.49          20.56
1   1596968940  1597017928      24.79            27.26          23.89
2   1596973583  1597022304      32.57            31.17          31.67
3   1596974812  1597024987      26.98            22.72          24.44
4   1596970481  1597021221      26.69            30.78          24.44
5   1596979225  1597028920      23.25            20.37          19.00
6   1596967182  1597017661      24.14            24.16          23.33
7   1596978699  1597027632      19.55            19.49          18.33
8   1596973695  1597022374      33.23            33.09          32.78

   main.temp_max  main.pressure  main.humidity  wind.speed  wind.deg  \
0          23.33           1022             49        2.60       351
1          26.00           1020             83        2.96       214
2          33.33           1015             43        6.20       140
3          30.56            998             18        3.38       179
4          27.78           1015             73        0.45        46
5          26.00           1012             50        5.10       350
6          25.56           1018             88        6.70       180
7          22.00           1013             77        2.60       230
8          34.44           1015             36        3.10       140

   clouds.all
0           0
1           1
2           5
3          32
4          48
5           5
6          75
7           1
8           5

In [22]:
# Concatenate DataFrames
df4 = [df1, df2, df3]
result = pd.concat(df4)
result

,weather,visibility,dt,id,name,coord.lon,coord.lat,sys.country,sys.timezone,sys.sunrise,sys.sunset,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all
0,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,1597025726,5039192,New York Mills,-95.38,46.52,US,-18000,1596971582,1597023657,21.03,20.95,20.00,22.00,1011,100,6.12,299,75
1,"[{'id': 501, 'main': 'Rain', 'description': 'm...",10000,1597025715,4887398,Chicago,-87.65,41.85,US,-18000,1596970389,1597021140,26.35,27.28,23.33,29.00,1015,66,3.60,220,90
2,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025738,5391959,San Francisco,-122.42,37.77,US,-25200,1596979237,1597028980,16.30,10.60,14.44,19.44,1012,72,8.70,310,20
3,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025709,4671654,Austin,-97.74,30.27,US,-18000,1596974085,1597022286,31.93,32.15,30.56,33.00,1017,41,3.10,160,0
4,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025737,5344994,East Los Angeles,-118.17,34.02,US,-25200,1596978622,1597027555,24.36,23.94,20.00,26.11,1012,60,3.49,230,1
5,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,1597025699,4460243,Charlotte,-80.84,35.23,US,-14400,1596969532,1597018729,23.91,24.13,21.67,26.00,1021,69,3.60,170,75
6,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025710,4699066,Houston,-95.36,29.76,US,-18000,1596973562,1597021668,29.79,31.30,28.89,31.00,1017,74,6.70,180,20
7,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025710,4704482,Lake Dallas,-97.03,33.12,US,-18000,1596973638,1597022393,32.99,33.93,32.22,33.89,1015,43,3.10,140,1
8,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025711,4726311,San Diego,-98.24,27.76,US,-18000,1596974435,1597022176,30.01,29.84,29.00,31.00,1016,66,7.70,140,1
9,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,1597025729,5131095,Philadelphia,-75.71,44.15,US,-14400,1596967209,1597018590,22.67,23.47,22.22,23.00,1016,73,2.60,220,75
10,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025731,5186794,Denver,-76.14,40.23,US,-14400,1596967830,1597018174,24.90,26.07,23.33,27.00,1018,65,2.24,190,20
11,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025711,4726206,San Antonio,-98.49,29.42,US,-18000,1596974345,1597022387,31.94,30.65,30.56,33.33,1016,52,7.70,150,1
12,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025738,5392171,San Jose,-121.89,37.34,US,-25200,1596979158,1597028804,26.68,23.75,24.44,30.00,1011,44,5.70,320,20
13,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025737,5308655,Phoenix,-112.07,33.45,US,-25200,1596977216,1597026034,40.95,35.77,40.00,42.22,1007,8,4.60,300,20
14,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,1597025727,5099836,Jersey City,-74.08,40.73,US,-14400,1596967273,1597017743,26.88,30.03,25.56,28.00,1018,74,2.10,230,75
15,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025737,5317058,Tempe,-111.91,33.41,US,-25200,1596977181,1597025991,40.79,35.59,40.00,42.00,1007,8,4.60,300,20
16,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025748,5809844,Seattle,-122.33,47.61,US,-25200,1596977882,1597030292,22.26,18.75,20.56,24.00,1024,38,4.10,310,1
17,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025700,4509177,Columbus,-83.00,39.96,US,-14400,1596969511,1597019786,24.61,28.14,22.78,27.22,1019,83,1.32,224,1
18,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025710,4700168,Irving,-96.95,32.81,US,-18000,1596973650,1597022343,33.08,33.50,32.22,34.00,1015,46,4.60,140,1
19,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025711,4719457,Plano,-96.70,33.02,US,-18000,1596973569,1597022304,32.56,31.16,31.67,33.33,1015,43,6.20,140,5
0,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025748,5780993,Salt Lake City,-111.89,40.76,US,-21600,1596976350,1597026813,30.45,26.83,27.78,33.00,1016,10,1.50,70,20
1,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025738,5393015,Santa Clara,-121.96,37.35,US,-25200,1596979174,1597028822,26.45,23.46,22.78,30.56,1011,44,5.70,320,20
2,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025738,5345860,El Segundo,-118.42,33.92,US,-25200,1596978693,1597027605,19.31,15.98,18.33,21.00,1013,68,6.20,260,20
3,"[{'id': 501, 'main': 'Rain', 'description': 'm...",10000,1597025690,4160021,Jacksonville,-81.66,30.33,US,-14400,1596970219,1597018435,25.95,22.00,23.00,28.89,1022,69,10.80,360,90
4,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025713,4776222,Norfolk,-76.29,36.85,US,-14400,1596968263,1597017814,25.30,28.64,24.00,26.11,1020,83,2.10,160,1
5,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025738,5392423,San Mateo,-122.33,37.56,US,-25200,1596979239,1597028935,22.10,18.31,15.56,25.00,1012,72,8.70,310,20
6,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025737,5331835,Burbank,-118.31,34.18,US,-25200,1596978639,1597027605,25.71,23.30,21.67,30.00,1012,41,4.10,150,1
7,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025695,4259418,Indianapolis,-86.16,39.77,US,-14400,1596970293,1597020521,25.33,26.42,24.44,26.11,1017,65,2.60,150,1
8,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025710,4691930,Fort Worth,-97.32,32.73,US,-18000,1596973746,1597022424,33.30,32.96,31.67,35.00,1015,43,5.10,150,1
9,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025739,5400075,Sunnyvale,-122.04,37.37,US,-25200,1596979191,1597028844,25.35,22.04,22.22,27.78,1011,44,5.70,320,20
10,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025738,5375480,Mountain View,-122.08,37.39,US,-25200,1596979198,1597028856,25.18,21.83,22.22,27.22,1011,44,5.70,320,20
11,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025737,5313457,Scottsdale,-111.90,33.51,US,-25200,1596977169,1597025999,40.72,36.47,40.00,41.11,1009,9,3.60,240,1
12,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025738,5380748,Palo Alto,-122.14,37.44,US,-25200,1596979207,1597028876,24.43,21.90,22.22,26.67,1012,50,5.10,350,5
13,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,1597025728,5110302,Brooklyn,-73.95,40.65,US,-14400,1596967252,1597017701,25.81,28.43,23.89,27.22,1018,74,2.10,230,75
14,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025737,5341145,Cupertino,-122.03,37.32,US,-25200,1596979194,1597028836,25.68,22.46,22.78,29.00,1011,44,5.70,320,20
15,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025711,4762894,Hampton,-76.35,37.03,US,-14400,1596968257,1597017848,25.96,28.95,25.00,27.00,1019,83,3.10,120,1
16,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025738,5367929,Long Beach,-118.19,33.77,US,-25200,1596978653,1597027534,21.41,19.23,18.89,24.44,1012,60,4.60,290,1
17,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025738,5386834,Redwood City,-122.24,37.49,US,-25200,1596979225,1597028905,23.59,20.81,21.00,25.00,1012,50,5.10,350,5
18,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025738,5372223,Menlo Park,-122.18,37.45,US,-25200,1596979216,1597028886,24.09,21.46,22.22,26.67,1012,50,5.10,350,5
19,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597025738,5378538,Oakland,-122.27,37.80,US,-25200,1596979197,1597028948,17.87,13.33,14.44,23.33,1012,72,7.70,300,20
0,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025749,5808079,Redmond,-122.12,47.67,US,-25200,1596977822,1597030251,22.04,20.49,20.56,23.33,1022,49,2.60,351,0
1,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025699,4499379,Wilmington,-77.94,34.23,US,-14400,1596968940,1597017928,24.79,27.26,23.89,26.00,1020,83,2.96,214,1
2,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025711,4722625,Richardson,-96.73,32.95,US,-18000,1596973583,1597022304,32.57,31.17,31.67,33.33,1015,43,6.20,140,5
3,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597025740,5416541,Centennial,-104.88,39.58,US,-21600,1596974812,1597024987,26.98,22.72,24.44,30.56,998,18,3.38,179,32
4,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597025715,4890119,Downers Grove,-88.01,41.81,US,-18000,1596970481,1597021221,26.69,30.78,24.44,27.78,1015,73,0.45,46,48
5,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025738,5350159,Foster City,-122.27,37.56,US,-25200,1596979225,1597028920,23.25,20.37,19.00,26.00,1012,50,5.10,350,5
6,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,1597025728,5123853,Lake Success,-73.72,40.77,US,-14400,1596967182,1597017661,24.14,24.16,23.33,25.56,1018,88,6.70,180,75
7,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025738,5393212,Santa Monica,-118.49,34.02,US,-25200,1596978699,1597027632,19.55,19.49,18.33,22.00,1013,77,2.60,230,1
8,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597025709,4671240,Arlington,-97.11,32.74,US,-18000,1596973695,1597022374,33.23,33.09,32.78,34.44,1015,36,3.10,140,5

In [ ]:
# DataFrame.rename

In [27]:
result.to_csv(r'C:\Users\sakon\Desktop\MASTER CSU\CWRU_BOOTCAMP\1.Hmw\12.Project2\Project2Group2\OpenweatherAPI2.csv', index = False, header=True)
print(result)

                                              weather  visibility          dt  \
0   [{'id': 804, 'main': 'Clouds', 'description': ...       10000  1597029316
1   [{'id': 211, 'main': 'Thunderstorm', 'descript...       10000  1597029308
2   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597029333
3   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029301
4   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029332
5   [{'id': 803, 'main': 'Clouds', 'description': ...       10000  1597029295
6   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029302
7   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029302
8   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029303
9   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029323
10  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029325
11  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029303
12  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597029334
13  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029327
14  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597029321
15  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029327
16  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029338
17  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029296
18  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029302
19  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597029303
0   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029337
1   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597029334
2   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597029332
3   [{'id': 503, 'main': 'Rain', 'description': 'v...       10000  1597029287
4   [{'id': 500, 'main': 'Rain', 'description': 'l...       10000  1597029303
5   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597029334
6   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029332
7   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029289
8   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029302
9   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597029334
10  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029333
11  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029327
12  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029333
13  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597029322
14  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597029332
15  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029303
16  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029333
17  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029333
18  [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029333
19  [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597029333
0   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029337
1   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597029296
2   [{'id': 801, 'main': 'Clouds', 'description': ...       10000  1597029303
3   [{'id': 803, 'main': 'Clouds', 'description': ...       10000  1597029334
4   [{'id': 803, 'main': 'Clouds', 'description': ...       10000  1597029308
5   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029333
6   [{'id': 802, 'main': 'Clouds', 'description': ...       10000  1597029323
7   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029334
8   [{'id': 800, 'main': 'Clear', 'description': '...       10000  1597029299

         id              name  coord.lon  coord.lat sys.country  sys.timezone  \
0   5039192    New York Mills     -95.38      46.52          US        -18000
1   4887398           Chicago     -87.65      41.85          US        -18000
2   5391959     San Francisco    -122.42      37.77          US        -25200
3   4671654            Austin     -97.74      30.27          US        -18000
4   5344994  East Los Angeles    -118.17      34.02          US        -25200
5   4460243         Charlotte     -80.84      35.23          US        -14400
6   4699066           Houston     -95.36      29.76          US        -18000
7   4704482       Lake Dallas     -97.03      33.12          US        -18000
8   4726311         San Diego     -98.24      27.76          US        -18000
9   5131095      Philadelphia     -75.71      44.15          US        -14400
10  5186794            Denver     -76.14      40.23          US        -14400
11  4726206       San Antonio     -98.49      29.42          US        -18000
12  5392171          San Jose    -121.89      37.34          US        -25200
13  5308655           Phoenix    -112.07      33.45          US        -25200
14  5099836       Jersey City     -74.08      40.73          US        -14400
15  5317058             Tempe    -111.91      33.41          US        -25200
16  5809844           Seattle    -122.33      47.61          US        -25200
17  4509177          Columbus     -83.00      39.96          US        -14400
18  4700168            Irving     -96.95      32.81          US        -18000
19  4719457             Plano     -96.70      33.02          US        -18000
0   5780993    Salt Lake City    -111.89      40.76          US        -21600
1   5393015       Santa Clara    -121.96      37.35          US        -25200
2   5345860        El Segundo    -118.42      33.92          US        -25200
3   4160021      Jacksonville     -81.66      30.33          US        -14400
4   4776222           Norfolk     -76.29      36.85          US        -14400
5   5392423         San Mateo    -122.33      37.56          US        -25200
6   5331835           Burbank    -118.31      34.18          US        -25200
7   4259418      Indianapolis     -86.16      39.77          US        -14400
8   4691930        Fort Worth     -97.32      32.73          US        -18000
9   5400075         Sunnyvale    -122.04      37.37          US        -25200
10  5375480     Mountain View    -122.08      37.39          US        -25200
11  5313457        Scottsdale    -111.90      33.51          US        -25200
12  5380748         Palo Alto    -122.14      37.44          US        -25200
13  5110302          Brooklyn     -73.95      40.65          US        -14400
14  5341145         Cupertino    -122.03      37.32          US        -25200
15  4762894           Hampton     -76.35      37.03          US        -14400
16  5367929        Long Beach    -118.19      33.77          US        -25200
17  5386834      Redwood City    -122.24      37.49          US        -25200
18  5372223        Menlo Park    -122.18      37.45          US        -25200
19  5378538           Oakland    -122.27      37.80          US        -25200
0   5808079           Redmond    -122.12      47.67          US        -25200
1   4499379        Wilmington     -77.94      34.23          US        -14400
2   4722625        Richardson     -96.73      32.95          US        -18000
3   5416541        Centennial    -104.88      39.58          US        -21600
4   4890119     Downers Grove     -88.01      41.81          US        -18000
5   5350159       Foster City    -122.27      37.56          US        -25200
6   5123853      Lake Success     -73.72      40.77          US        -14400
7   5393212      Santa Monica    -118.49      34.02          US        -25200
8   4671240         Arlington     -97.11      32.74          US        -18000

    sys.sunrise  sys.sunset  main.temp  main.feels_like  main.temp_min  \
0    1596971582  1597023657      20.22            22.20          18.33
1    1596970389  1597021140      23.78            24.95          22.78
2    1596979237  1597028980      15.68            10.81          13.89
3    1596974085  1597022286      30.58            29.65          29.44
4    1596978622  1597027555      21.32            21.18          17.78
5    1596969532  1597018729      23.23            25.49          21.67
6    1596973562  1597021668      29.03            32.10          28.00
7    1596973638  1597022393      32.26            33.04          31.67
8    1596974435  1597022176      28.50            31.10          28.00
9    1596967209  1597018590      22.67            22.52          22.22
10   1596967830  1597018174      24.40            26.79          22.78
11   1596974345  1597022387      30.25            28.72          29.44
12   1596979158  1597028804      24.38            22.43          22.78
13   1596977216  1597026034      39.12            37.81          38.33
14   1596967273  1597017743      26.60            30.07          25.56
15   1596977181  1597025991      38.74            34.84          37.22
16   1596977882  1597030292      20.88            18.66          18.89
17   1596969511  1597019786      23.06            24.71          22.22
18   1596973650  1597022343      32.36            32.96          31.67
19   1596973569  1597022304      31.86            32.63          31.11
0    1596976350  1597026813      25.77            21.43          23.89
1    1596979174  1597028822      24.30            22.33          21.67
2    1596978693  1597027605      17.91            15.12          17.22
3    1596970219  1597018435      23.62            26.47          23.00
4    1596968263  1597017814      25.08            27.78          23.89
5    1596979239  1597028935      19.14            15.37          13.89
6    1596978639  1597027605      22.23            20.12          17.78
7    1596970293  1597020521      24.44            25.68          23.33
8    1596973746  1597022424      32.20            30.78          31.00
9    1596979191  1597028844      23.62            21.42          20.56
10   1596979198  1597028856      23.11            20.73          20.00
11   1596977169  1597025999      38.59            35.37          37.22
12   1596979207  1597028876      21.67            18.79          19.44
13   1596967252  1597017701      25.97            29.11          23.89
14   1596979194  1597028836      23.88            21.77          20.56
15   1596968257  1597017848      25.79            28.88          25.00
16   1596978653  1597027534      19.41            17.29          17.22
17   1596979225  1597028905      20.96            19.34          17.00
18   1596979216  1597028886      21.35            18.36          19.44
19   1596979197  1597028948      16.20            12.88          13.89
0    1596977822  1597030251      20.59            19.57          18.89
1    1596968940  1597017928      24.09            26.46          23.33
2    1596973583  1597022304      31.92            34.76          31.11
3    1596974812  1597024987      25.25            20.56          22.22
4    1596970481  1597021221      24.72            27.97          23.33
5    1596979225  1597028920      20.82            19.16          18.00
6    1596967182  1597017661      24.29            25.51          23.33
7    1596978699  1597027632      17.97            17.36          17.22
8    1596973695  1597022374      32.39            33.12          31.67

    main.temp_max  main.pressure  main.humidity  wind.speed  wind.deg  \
0           22.00           1011            100        2.60       300
1           25.00           1016             83        4.10        70
2           18.00           1012             77        7.70       310
3           32.00           1017             46        5.10       180
4           24.00           1012             68        2.60       260
5           24.44           1020             78        1.50       180
6           30.00           1018             78        4.60       170
7           32.78           1015             46        3.60       140
8           29.00           1016             74        4.10       140
9           23.00           1016             78        4.60       240
10          26.00           1019             74        1.50       170
11          31.67           1016             58        8.20       140
12          26.67           1011             56        5.10       300
13          40.00           1006             13        0.45       267
14          27.22           1018             78        2.10       250
15          40.00           1009             10        3.10       260
16          23.00           1023             40        2.10       320
17          23.89           1019             73        1.60       225
18          33.00           1015             49        4.60       140
19          32.78           1015             57        5.82       179
0           27.78           1012             17        3.13        22
1           27.22           1011             56        5.10       300
2           19.00           1013             77        5.70       260
3           25.00           1023             94        3.10        50
4           26.11           1019             88        3.60       190
5           23.00           1012             77        7.70       310
6           27.00           1012             50        3.60       150
7           25.56           1018             73        3.03       199
8           32.78           1015             46        6.70       140
9           26.00           1011             56        5.10       300
10          25.00           1012             64        6.20       320
11          40.00           1009             10        2.10       250
12          24.44           1012             64        6.20       320
13          27.22           1018             78        2.10       250
14          27.22           1011             56        5.10       300
15          27.00           1020             88        3.60       160
16          22.22           1012             64        4.10       300
17          24.44           1012             60        3.60       360
18          24.44           1012             64        6.20       320
19          18.33           1012             77        5.70       310
0           22.22           1022             55        2.02        14
1           25.00           1020             83        2.61       217
2           32.78           1020             54        2.24       146
3           29.00           1019             14        3.10       180
4           27.22           1015             83        1.79       131
5           23.00           1012             60        3.60       360
6           26.67           1018             88        5.10       180
7           20.00           1013             82        3.10       240
8           33.00           1016             41        2.60       130

    clouds.all
0           90
1           90
2           20
3            0
4            1
5           75
6            1
7            1
8            1
9            1
10           1
11           1
12          20
13           0
14          20
15           1
16           1
17           1
18           1
19          19
0            0
1           20
2           20
3           90
4            1
5           20
6            1
7            1
8            1
9           20
10           5
11           1
12           5
13          20
14          20
15           1
16           1
17           5
18           5
19          20
0            0
1           20
2           18
3           75
4           64
5            5
6           40
7            1
8            1